govpay-core-beans/src/main/resources/wsdl/GpPa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>
<wsdl:definitions 
	xmlns:xformat="http://cxf.apache.org/bindings/xformat"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://www.govpay.it/servizi/"
	xmlns:com="http://www.govpay.it/servizi/commons/"
	xmlns:pa="http://www.govpay.it/servizi/pa/"
	xmlns:app="http://www.govpay.it/servizi/gpApp/"
	xmlns:prt="http://www.govpay.it/servizi/gpPrt/"
	targetNamespace="http://www.govpay.it/servizi/" 
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	name="GP" jaxb:version="2.0">
	<wsdl:types>
		
		<xsd:schema targetNamespace="http://www.govpay.it/servizi/commons/">
		
			<xsd:complexType name="gpResponse">
				<xsd:sequence>
					<xsd:element name="codOperazione" type="com:uuid" />
					<xsd:element name="codEsitoOperazione" type="com:esitoOperazione" />
					<xsd:element name="descrizioneEsitoOperazione" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="canale">
				<xsd:sequence>
					<xsd:element name="codPsp" type="com:cod35" />
					<xsd:element name="codCanale" type="com:cod35" />
					<xsd:element name="tipoVersamento" type="com:tipoVersamento" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="estremiFlussoRendicontazione">
				<xsd:sequence>
					<xsd:element name="codFlusso" type="com:cod35" />
					<xsd:element name="codBicRiversamento" type="xsd:string" minOccurs="0"/>
					<xsd:element name="annoRiferimento" type="xsd:gYear" />
					<xsd:element name="codPsp" type="com:cod35" />
					<xsd:element name="dataFlusso" type="xsd:dateTime" />
					<xsd:element name="dataRegolamento" type="xsd:date" />
					<xsd:element name="iur" type="com:string35" />
					<xsd:element name="numeroPagamenti" type="xsd:long" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Opzionale in Rnd</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="importoTotale" type="com:importo18" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Opzionale in Rnd</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="flussoRendicontazione">
				<xsd:complexContent>
					<xsd:extension base="com:estremiFlussoRendicontazione">
						<xsd:sequence>
							<xsd:element name="pagamento" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="codApplicazione" type="com:cod35" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Presente dalla versione 2.2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="codSingoloVersamentoEnte" type="com:cod35" />
										<xsd:element name="codDominio" type="com:cod35" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Presente dalla versione 2.2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="iuv" type="com:cod35" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Presente dalla versione 2.2</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="importoRendicontato" type="com:importo" />
										<xsd:element name="iur" type="com:cod35" />
										<xsd:element name="dataRendicontazione" type="xsd:dateTime" />
										<xsd:element name="esitoRendicontazione" type="com:tipoRendicontazione" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="iuvGenerato">
				<xsd:sequence>
					<xsd:element name="codApplicazione" type="com:cod35" />
					<xsd:element name="codVersamentoEnte" type="com:cod35" />
					<xsd:element name="codDominio" type="com:cod35" />
					<xsd:element name="iuv" type="com:cod35" />
					<xsd:element name="numeroAvviso" type="com:cod35" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Presente dalla versione 2.2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="qrCode" type="xsd:base64Binary" />
					<xsd:element name="barCode" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="pagamento">
				<xsd:sequence>
					<xsd:element name="codSingoloVersamentoEnte" type="com:cod35" />
					<xsd:element name="importoPagato" type="com:importo" />
					<xsd:element name="iur" type="com:cod35" />
					<xsd:element name="dataPagamento" type="xsd:date" />
					<xsd:element name="dataAcquisizione" type="xsd:date" minOccurs="0"/>
					<xsd:element name="commissioniPsp" type="com:importo" minOccurs="0"/>
					<xsd:element name="allegato" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="tipo" type="com:tipoAllegato" />
								<xsd:element name="testo" type="xsd:base64Binary" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="dataAcquisizioneRevoca" type="xsd:date" minOccurs="0"/>
					<xsd:element name="causaleRevoca" type="xsd:string" minOccurs="0"/>
					<xsd:element name="datiRevoca" type="xsd:string" minOccurs="0"/>
					<xsd:element name="importoRevocato" type="com:importo" minOccurs="0"/>
					<xsd:element name="esitoRevoca" type="xsd:string" minOccurs="0"/>
					<xsd:element name="datiEsitoRevoca" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="transazione">
				<xsd:sequence>
					<xsd:element name="data" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Presente dalla versione 2.2</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="modello" type="com:modelloPagamento"></xsd:element>
					<xsd:element name="codDominio" type="com:cod35" />
					<xsd:element name="iuv" type="com:cod35" />
					<xsd:element name="ccp" type="com:cod35" />
					<xsd:element name="canale" type="com:canale" />
					<xsd:element name="stato" type="com:statoTransazione" />
					<xsd:element name="descrizioneStato" type="xsd:string" minOccurs="0" />
					<xsd:element name="esito" type="com:esitoTransazione" minOccurs="0" />
					<xsd:element name="rpt" type="xsd:base64Binary" />
					<xsd:element name="rt" type="xsd:base64Binary" minOccurs="0" />
					<xsd:element name="richiestaStorno" type="com:richiestaStorno" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="pagamento" type="com:pagamento" minOccurs="0" maxOccurs="5" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="richiestaStorno">
				<xsd:sequence>
					<xsd:element name="codRichiesta" type="com:cod35" />
					<xsd:element name="dataRichiesta" type="xsd:dateTime" />
					<xsd:element name="stato" type="com:statoRevoca" />
					<xsd:element name="descrizioneStato" type="xsd:string" minOccurs="0" />
					<xsd:element name="rr" type="xsd:base64Binary" />
					<xsd:element name="er" type="xsd:base64Binary" minOccurs="0" />
					<xsd:element name="importoStornato" type="com:importo" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="versamentoKey">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="codApplicazione" type="com:cod35" />
						<xsd:choice>
							<xsd:element name="codVersamentoEnte" type="com:cod35" />
							<xsd:sequence>
								<xsd:element name="codDominio" type="com:cod35" minOccurs="0"/>
								<xsd:element name="codUnivocoDebitore" type="com:string35" minOccurs="0"/>
								<xsd:element name="bundlekey" type="com:string256" />
							</xsd:sequence>
						</xsd:choice>
						<xsd:element name="iuv" type="com:cod35" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="codDominio" type="com:cod35" />
						<xsd:element name="iuv" type="com:cod35" />
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="versamento">
				<xsd:sequence>
					<xsd:element name="codApplicazione" type="com:cod35" />
					<xsd:element name="codVersamentoEnte" type="com:cod35" />
					<xsd:element name="iuv" type="com:cod35" minOccurs="0"/>
					<xsd:element name="codDominio" type="com:cod35" />
					<xsd:element name="codUnitaOperativa" type="com:cod35" minOccurs="0" />
					<xsd:element name="debitore" type="com:anagrafica" />
					<xsd:element name="importoTotale" type="com:importo" />
					<xsd:element name="dataScadenza" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="aggiornabile" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="codDebito" type="com:cod35" minOccurs="0" />
					<xsd:element name="annoTributario" type="xsd:int" minOccurs="0" />
					<xsd:element name="bundlekey" type="com:string256" minOccurs="0" />
					<xsd:choice>
						<xsd:element name="causale" type="com:string140" />
						<xsd:element name="spezzoneCausale" type="com:string35" maxOccurs="6" />
						<xsd:element name="spezzoneCausaleStrutturata" maxOccurs="6">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="causale" type="com:string20"></xsd:element>
									<xsd:element name="importo" type="com:importo10"></xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="singoloVersamento" maxOccurs="5">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="codSingoloVersamentoEnte" type="com:cod35" />
								<xsd:element name="importo" type="com:importo" />
								<xsd:element name="note" type="com:string512" minOccurs="0" />
								<xsd:choice>
									<xsd:element name="codTributo" type="com:cod35" />
									<xsd:element name="bolloTelematico">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="tipo" type="com:tipoBollo"></xsd:element>
												<xsd:element name="hash" type="com:string70"></xsd:element>
												<xsd:element name="provincia" type="com:string2"></xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="tributo">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ibanAccredito" type="com:cod35"></xsd:element>
												<xsd:element name="tipoContabilita" type="com:tipoContabilita"></xsd:element>
												<xsd:element name="codContabilita">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:pattern value="\S{3,138}"></xsd:pattern>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="anomalia">
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="codice" type="xsd:string" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			
			<xsd:simpleType name="uuid">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="cod35">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[^ ]*" />
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string2">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z]{2,2}"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string16">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string20">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string35">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string40">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string70">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="70" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string120">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="120" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string140">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="140" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string256">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="256" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="email256">
				<xsd:restriction base="xsd:string">
		            <xsd:pattern value="[A-Za-z0-9_]+([\-\+\.'][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*"/>
		            <xsd:maxLength value="256"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="string512">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="512" />
				</xsd:restriction>
			</xsd:simpleType>
		
			<xsd:simpleType name="importo10">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0.00" />
					<xsd:maxInclusive value="9999999.99" />
					<xsd:fractionDigits value="2" />
					<xsd:totalDigits value="10" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="importo">
				<xsd:restriction base="xsd:decimal">
				    <xsd:minInclusive value="0.00"/>
					<xsd:maxInclusive value="99999999.99"/>
					<xsd:fractionDigits value="2"/>
					<xsd:totalDigits value="12"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="importo18">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0.00" />
					<xsd:maxInclusive value="999999999999999.99" />
					<xsd:fractionDigits value="2" />
					<xsd:totalDigits value="18" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="esitoVerificaVersamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_SCONOSCIUTO"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_DUPLICATO"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_SCADUTO"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_ANNULLATO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoAutenticazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CNS"></xsd:enumeration>
					<xsd:enumeration value="USR"></xsd:enumeration>
					<xsd:enumeration value="OTH"></xsd:enumeration>
					<xsd:enumeration value="N/A"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoContabilita">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CAPITOLO"></xsd:enumeration>
					<xsd:enumeration value="SPECIALE"></xsd:enumeration>
					<xsd:enumeration value="SIOPE"></xsd:enumeration>
					<xsd:enumeration value="ALTRO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoBollo">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="01"><xsd:annotation><xsd:documentation>Imposta di Bollo</xsd:documentation></xsd:annotation></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoSceltaWisp">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SI" />
					<xsd:enumeration value="NO" />
					<xsd:enumeration value="PAGA_DOPO" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="modelloPagamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="IMMEDIATO"></xsd:enumeration>
					<xsd:enumeration value="IMMEDIATO_MULTIBENEFICIARIO"></xsd:enumeration>
					<xsd:enumeration value="DIFFERITO"></xsd:enumeration>
					<xsd:enumeration value="ATTIVATO_PRESSO_PSP"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="statoVersamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NON_ESEGUITO" />
					<xsd:enumeration value="ESEGUITO" />
					<xsd:enumeration value="PARZIALMENTE_ESEGUITO" />
					<xsd:enumeration value="ANNULLATO" />
					<xsd:enumeration value="ANOMALO" />
					<xsd:enumeration value="ESEGUITO_SENZA_RPT" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoVersamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BBT"><xsd:annotation><xsd:documentation>Bonifico Bancario di Tesoreria</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="BP"><xsd:annotation><xsd:documentation>Bollettino Postale</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="AD"><xsd:annotation><xsd:documentation>Addebito diretto</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="CP"><xsd:annotation><xsd:documentation>Carta di Pagamento</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="OBEP"><xsd:annotation><xsd:documentation>On-line Banking e-payment</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PO"><xsd:annotation><xsd:documentation>Pagamento attivato presso PSP</xsd:documentation></xsd:annotation></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoRendicontazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ESEGUITO" />
					<xsd:enumeration value="REVOCATO" />
					<xsd:enumeration value="ESEGUITO_SENZA_RPT" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="tipoAllegato">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ES"><xsd:annotation><xsd:documentation>Esito del pagamento prodotto dal PSP</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="BD"><xsd:annotation><xsd:documentation>Marca da Bollo Digitale</xsd:documentation></xsd:annotation></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="statoTransazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RPT_ATTIVATA"></xsd:enumeration>
					<xsd:enumeration value="RPT_ERRORE_INVIO_A_NODO"></xsd:enumeration> 
					<xsd:enumeration value="RPT_RICEVUTA_NODO"></xsd:enumeration> 
					<xsd:enumeration value="RPT_RIFIUTATA_NODO"></xsd:enumeration> 
					<xsd:enumeration value="RPT_ACCETTATA_NODO"></xsd:enumeration> 
					<xsd:enumeration value="RPT_RIFIUTATA_PSP"></xsd:enumeration> 
					<xsd:enumeration value="RPT_ACCETTATA_PSP"></xsd:enumeration> 
					<xsd:enumeration value="RPT_ERRORE_INVIO_A_PSP"></xsd:enumeration> 
					<xsd:enumeration value="RPT_INVIATA_A_PSP"></xsd:enumeration> 
					<xsd:enumeration value="RPT_DECORSI_TERMINI"></xsd:enumeration>
					<xsd:enumeration value="RT_RICEVUTA_NODO"></xsd:enumeration>
					<xsd:enumeration value="RT_RIFIUTATA_NODO"></xsd:enumeration>
					<xsd:enumeration value="RT_ACCETTATA_NODO"></xsd:enumeration>
					<xsd:enumeration value="RT_ACCETTATA_PA"></xsd:enumeration>
					<xsd:enumeration value="RT_RIFIUTATA_PA"></xsd:enumeration>
					<xsd:enumeration value="RT_ESITO_SCONOSCIUTO_PA"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="statoRevoca">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RR_ATTIVATA"></xsd:enumeration> 
					<xsd:enumeration value="RR_ERRORE_INVIO_A_NODO"></xsd:enumeration> 
					<xsd:enumeration value="RR_ACCETTATA_NODO"></xsd:enumeration> 
					<xsd:enumeration value="RR_RIFIUTATA_NODO"></xsd:enumeration> 
					<xsd:enumeration value="ER_ACCETTATA_PA"></xsd:enumeration>
					<xsd:enumeration value="ER_RIFIUTATA_PA"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="esitoTransazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PAGAMENTO_ESEGUITO"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_NON_ESEGUITO"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_PARZIALMENTE_ESEGUITO"></xsd:enumeration>
					<xsd:enumeration value="DECORRENZA_TERMINI"></xsd:enumeration>
					<xsd:enumeration value="DECORRENZA_TERMINI_PARZIALE"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="anagrafica">
				<xsd:sequence>
					<xsd:element name="codUnivoco" type="com:string35" />
					<xsd:element name="ragioneSociale" type="com:string70" />
					<xsd:element name="indirizzo" type="com:string70" minOccurs="0" />
					<xsd:element name="civico" type="com:string16" minOccurs="0" />
					<xsd:element name="cap" type="com:string16" minOccurs="0" />
					<xsd:element name="localita" type="com:string35" minOccurs="0" />
					<xsd:element name="provincia" type="com:string35" minOccurs="0" />
					<xsd:element name="nazione" type="com:string2" minOccurs="0" />
					<xsd:element name="email" type="com:email256" minOccurs="0" />
					<xsd:element name="telefono" type="xsd:string" minOccurs="0" />
					<xsd:element name="cellulare" type="xsd:string" minOccurs="0" />
					<xsd:element name="fax" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:simpleType name="statoFr">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ACCETTATA" />
					<xsd:enumeration value="ANOMALA" />
					<xsd:enumeration value="RIFIUTATA">
						<xsd:annotation><xsd:documentation>Presente per retrocompatibilita v2.x</xsd:documentation></xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="statoRendicontazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK" />
					<xsd:enumeration value="ANOMALA" />
					<xsd:enumeration value="ALTRO_INTERMEDIARIO" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="esitoRendicontazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ESEGUITO" />
					<xsd:enumeration value="REVOCATO" />
					<xsd:enumeration value="ESEGUITO_SENZA_RPT" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:element name="metaInfo" nillable="true">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="iuvProp" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="nome" type="xsd:string" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:simpleType name="esitoOperazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK"></xsd:enumeration>
					<xsd:enumeration value="INTERNAL"><xsd:annotation><xsd:documentation>Errore non atteso</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="AUT_000"><xsd:annotation><xsd:documentation>Principal non fornito</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="AUT_001"><xsd:annotation><xsd:documentation>Principal non associato ad alcuna Applicazione</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="AUT_002"><xsd:annotation><xsd:documentation>Principal non associato ad alcun Portale</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="APP_000"><xsd:annotation><xsd:documentation>Applicazione inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="APP_001"><xsd:annotation><xsd:documentation>Applicazione disabilitata</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="APP_002"><xsd:annotation><xsd:documentation>Applicazione autenticata diversa dalla chiamante</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="DOM_000"><xsd:annotation><xsd:documentation>Dominio inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="DOM_001"><xsd:annotation><xsd:documentation>Dominio disabilitato</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="DOM_002"><xsd:annotation><xsd:documentation>Dominio configurato per la generazione custom degli iuv</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="DOM_003"><xsd:annotation><xsd:documentation>Dominio configurato per la generazione centralizzata degli iuv</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="NDP_000"><xsd:annotation><xsd:documentation>Errore di comunicazione con il Nodo dei Pagamenti</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="NDP_001"><xsd:annotation><xsd:documentation>Ricevuto FAULT dal Nodo dei Pagamenti</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_000"><xsd:annotation><xsd:documentation>I versamenti di una richiesta di pagamento devono afferire alla stessa stazione intermediario</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_001"><xsd:annotation><xsd:documentation>Il canale indicato non supporta il pagamento di piu' versamenti</xsd:documentation></xsd:annotation></xsd:enumeration>	
					<xsd:enumeration value="PAG_002"><xsd:annotation><xsd:documentation>Il canale indicato non puo' eseguire pagamenti ad iniziativa Ente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_003"><xsd:annotation><xsd:documentation>Il canale indicato non supporta il pagamento di Marca da Bollo Telematica</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_004"><xsd:annotation><xsd:documentation>Il tipo di pagamento Addebito Diretto richiede di specificare un Iban di Addebito</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_005"><xsd:annotation><xsd:documentation>Il tipo di pagamento On-line Banking e-Payment (OBEP) consente il pagamento di versamenti con al piu' un singolo versamento</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_006"><xsd:annotation><xsd:documentation>Non è possibile pagare un versamento in stato diverso da NON_ESEGUITO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_007"><xsd:annotation><xsd:documentation>Non è possibile pagare un versamento scaduto</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_008"><xsd:annotation><xsd:documentation>Transazione di pagamento inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_009"><xsd:annotation><xsd:documentation>Pagamento gia' stornato</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_010"><xsd:annotation><xsd:documentation>Richiesta di storno inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PAG_011"><xsd:annotation><xsd:documentation>Nessun pagamento da stornare</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PRT_000"><xsd:annotation><xsd:documentation>Portale inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PRT_001"><xsd:annotation><xsd:documentation>Portale disabilitato</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PRT_002"><xsd:annotation><xsd:documentation>Portale autenticato diverso dal chiamante</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PRT_003"><xsd:annotation><xsd:documentation>Portale non autorizzato a pagare i versamenti dell'applicazione indicata</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PRT_004"><xsd:annotation><xsd:documentation>Portale non autorizzato a visualizzare l'esito della transazione indicata</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PRT_005"><xsd:annotation><xsd:documentation>Portale non autorizzato all'operazione richiesta</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PSP_000"><xsd:annotation><xsd:documentation>Il canale non esiste</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="PSP_001"><xsd:annotation><xsd:documentation>Il canale e' disabilitato</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="RND_000"><xsd:annotation><xsd:documentation>Il Flusso di Rendicontazione cercato non esiste.</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="RND_001"><xsd:annotation><xsd:documentation>Applicazione non abilitata all'acquisizione del flusso indicato.</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="STA_000"><xsd:annotation><xsd:documentation>Stazione inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="STA_001"><xsd:annotation><xsd:documentation>Stazione disabilitata</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="TRB_000"><xsd:annotation><xsd:documentation>Tributo inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="UOP_000"><xsd:annotation><xsd:documentation>Unita Operativa inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="UOP_001"><xsd:annotation><xsd:documentation>Unita Operativa disabilitata</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_000"><xsd:annotation><xsd:documentation>Versamento non pagabile ad iniziativa PSP</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_001"><xsd:annotation><xsd:documentation>Il versamento presenta singoli versamenti con codSingoloVersamento non univoci</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_002"><xsd:annotation><xsd:documentation>La somma degli importi dei singoli versamenti non corrisponde all'importo totale del versamento</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_003"><xsd:annotation><xsd:documentation>Non è possibile aggiornare un versamento in stato diverso da NON_ESEGUITO o ANNULLATO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_004"><xsd:annotation><xsd:documentation>Non è possibile aggiornare un versamento cambiando l'unità operativa beneficiaria</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_005"><xsd:annotation><xsd:documentation>Non è possibile aggiornare un versamento cambiando il numero di singoli importi</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_006"><xsd:annotation><xsd:documentation>Non è possibile aggiornare un versamento modificando i  codSingoliVersamenti dei singoli versamenti</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_007"><xsd:annotation><xsd:documentation>Non è possibile aggiornare un versamento modificando la tipologia di tributo dei singoli versamenti</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_008"><xsd:annotation><xsd:documentation>Versamento inesistente</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_009"><xsd:annotation><xsd:documentation>Non è possibile annullare un versamento in stato diverso da NON_ESEGUITO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_010"><xsd:annotation><xsd:documentation>L'aggiornamento del versamento dall'applicazione ha dato esito PAA_PAGAMENTO_SCADUTO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_011"><xsd:annotation><xsd:documentation>L'aggiornamento del versamento dall'applicazione ha dato esito PAA_PAGAMENTO_SCONOSCIUTO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_012"><xsd:annotation><xsd:documentation>L'aggiornamento del versamento dall'applicazione ha dato esito PAA_PAGAMENTO_DUPLICATO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_013"><xsd:annotation><xsd:documentation>L'aggiornamento del versamento dall'applicazione ha dato esito PAA_PAGAMENTO_ANNULLATO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_014"><xsd:annotation><xsd:documentation>L'aggiornamento del versamento dall'applicazione e' fallito</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_015"><xsd:annotation><xsd:documentation>Aggiornamento non consentito se AggiornaSeEsiste impostato a false</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_016"><xsd:annotation><xsd:documentation>Non è possibile notificare un pagamento per un versamento in stato diverso da NON_ESEGUITO o ANNULLATO</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_017"><xsd:annotation><xsd:documentation>Iuv da caricare non conforme alle specifiche AgID</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_018"><xsd:annotation><xsd:documentation>Iuv da caricare gia' associato ad un diverso Versamento</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_019"><xsd:annotation><xsd:documentation>Applicazione non autorizzata all'autodeterminazione dei tributi</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_020"><xsd:annotation><xsd:documentation>Iban di accredito non censito</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_021"><xsd:annotation><xsd:documentation>Applicazione non autorizzata all'autodeterminazione dei tributi per il dominio indicato</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_022"><xsd:annotation><xsd:documentation>Applicazione non autorizzata alla gestione del tributo indicato</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="VER_023"><xsd:annotation><xsd:documentation>Non e' possibile aggiornare un versamento modificando l'iban di accredito</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="WISP_000"><xsd:annotation><xsd:documentation>Sessione di scelta sconosciuta al WISP</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="WISP_001"><xsd:annotation><xsd:documentation>Sessione di scelta scaduta per timeout al WISP</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="WISP_002"><xsd:annotation><xsd:documentation>Canale scelto non presente in anagrafica</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="WISP_003"><xsd:annotation><xsd:documentation>Il debitore non ha operato alcuna scelta sul WISP</xsd:documentation></xsd:annotation></xsd:enumeration>
					<xsd:enumeration value="WISP_004"><xsd:annotation><xsd:documentation>Il debitore ha scelto di pagare dopo tramite avviso di pagamento.</xsd:documentation></xsd:annotation></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	
		<xsd:schema targetNamespace="http://www.govpay.it/servizi/pa/">
			<xsd:import namespace="http://www.govpay.it/servizi/commons/"></xsd:import>
		
			<xsd:element name="paNotificaTransazione">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codSessionePortale" type="com:uuid" minOccurs="0" />
						<xsd:element name="codApplicazione" type="com:cod35" />
						<xsd:element name="codVersamentoEnte" type="com:cod35" />
						<xsd:element name="transazione" type="com:transazione" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="paNotificaTransazioneResponse" type="xsd:string" nillable="true" />
			
			<xsd:element name="paNotificaStorno">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codSessionePortale" type="com:uuid" minOccurs="0" />
						<xsd:element name="codApplicazione" type="com:cod35" />
						<xsd:element name="codVersamentoEnte" type="com:cod35" />
						<xsd:element name="richiestaStorno">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="com:richiestaStorno">
										<xsd:sequence>
											<xsd:element name="codDominio" type="com:cod35" />
											<xsd:element name="iuv" type="com:cod35" />
											<xsd:element name="ccp" type="com:cod35" />
										</xsd:sequence>				
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="paNotificaStornoResponse" type="xsd:string" nillable="true" />
			
			<xsd:element name="paVerificaVersamento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codApplicazione" type="com:cod35" />
						<xsd:choice>
							<xsd:element name="codVersamentoEnte" type="com:cod35" />
							<xsd:sequence>
								<xsd:element name="codDominio" type="com:cod35" />
								<xsd:element name="iuv" type="com:cod35" />
							</xsd:sequence>
							<xsd:sequence>
								<xsd:element name="bundlekey" type="com:string256" />
								<xsd:element name="codDominio" type="com:cod35" minOccurs="0"/>
								<xsd:element name="codUnivocoDebitore" type="com:string35" minOccurs="0"/>
							</xsd:sequence>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="paVerificaVersamentoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codEsito" type="com:esitoVerificaVersamento" />
						<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="0" />
						<xsd:element name="versamento" type="com:versamento" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
	</wsdl:types>
	
	<wsdl:message name="paNotificaTransazione">
		<wsdl:part name="bodyrichiesta" element="pa:paNotificaTransazione" />
	</wsdl:message>
	
	<wsdl:message name="paNotificaTransazioneResponse">
		<wsdl:part name="bodyrisposta" element="pa:paNotificaTransazioneResponse" />
	</wsdl:message>
	
	<wsdl:message name="paNotificaStorno">
		<wsdl:part name="bodyrichiesta" element="pa:paNotificaStorno" />
	</wsdl:message>
	
	<wsdl:message name="paNotificaStornoResponse">
		<wsdl:part name="bodyrisposta" element="pa:paNotificaStornoResponse" />
	</wsdl:message>
	
	<wsdl:message name="paVerificaVersamento">
		<wsdl:part name="bodyrichiesta" element="pa:paVerificaVersamento" />
	</wsdl:message>

	<wsdl:message name="paVerificaVersamentoResponse">
		<wsdl:part name="bodyrisposta" element="pa:paVerificaVersamentoResponse" />
	</wsdl:message>
	
	<wsdl:portType name="PagamentiTelematiciPA">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		
		<wsdl:operation name="paNotificaTransazione">
			<wsdl:input message="tns:paNotificaTransazione" />
			<wsdl:output message="tns:paNotificaTransazioneResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="paNotificaStorno">
			<wsdl:input message="tns:paNotificaStorno" />
			<wsdl:output message="tns:paNotificaStornoResponse" />
		</wsdl:operation>

		<wsdl:operation name="paVerificaVersamento">
			<wsdl:input message="tns:paVerificaVersamento" />
			<wsdl:output message="tns:paVerificaVersamentoResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="PagamentiTelematiciPASOAP" type="tns:PagamentiTelematiciPA">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="paNotificaTransazione">
			<soap:operation soapAction="paNotificaTransazione" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="paNotificaStorno">
			<soap:operation soapAction="paNotificaStorno" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paVerificaVersamento">
			<soap:operation soapAction="paVerificaVersamento" />
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="PagamentiTelematiciPAService">
		<wsdl:port name="PAPort" binding="tns:PagamentiTelematiciPASOAP">
			<soap:address location="http://www.govpay.it/" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
