govpay-core/src/main/resources/wsdl/GovPayPerPA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.govpay.it/servizi/pa"
	targetNamespace="http://www.govpay.it/servizi/pa" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	name="GP" jaxb:version="2.0">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.govpay.it/servizi/pa">
			<xsd:element name="gpCaricaPagamentoInAttesa" type="tns:pagamento" />

			<xsd:element name="gpCaricaPagamentoInAttesaResponse"
				type="tns:esitoOperazione" />

			<xsd:element name="gpCancellaPagamentoInAttesa">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codApplicazione" type="xsd:string" />
						<xsd:element name="idPagamento" type="tns:idPagamento" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpCancellaPagamentoInAttesaResponse"
				type="tns:esitoOperazione" />

			<xsd:element name="gpGeneraIUV">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codApplicazione" type="xsd:string" />
						<xsd:element name="codEnte" type="xsd:string" />
						<xsd:element name="tipoIuv" type="tns:tipoIuv" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpGeneraIUVResponse" type="tns:esitoOperazione" />

			<xsd:element name="gpInviaRpt">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codPortale" type="xsd:string" />
						<xsd:element name="idPagamento" type="tns:idPagamento" maxOccurs="unbounded" />
						<xsd:element name="autenticazione" type="tns:autenticazione" minOccurs="0" />
						<xsd:element name="versante" type="tns:anagrafica" minOccurs="0" />
						<xsd:element name="callbackUrl" type="xsd:string" />
						<xsd:element name="ibanAddebito" type="xsd:string" minOccurs="0" />
						<xsd:element name="canale" type="tns:canale" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpInviaRptResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="url" type="xsd:string" minOccurs="0" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpGeneraRpt">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codPortale" type="xsd:string" />
						<xsd:element name="pagamento" type="tns:pagamento" maxOccurs="unbounded" />
						<xsd:element name="autenticazione" type="tns:autenticazione" minOccurs="0" />
						<xsd:element name="versante" type="tns:anagrafica" minOccurs="0" />
						<xsd:element name="callbackUrl" type="xsd:string" />
						<xsd:element name="ibanAddebito" type="xsd:string" minOccurs="0" />
						<xsd:element name="canale" type="tns:canale" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpGeneraRptResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="url" type="xsd:string" minOccurs="0" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpChiediStatoPagamento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="codApplicazione" type="xsd:string" />
							<xsd:element name="codPortale" type="xsd:string" />
						</xsd:choice>
						<xsd:element name="idPagamento" type="tns:idPagamento" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="versamento">
				<xsd:sequence>
					<xsd:element name="stato" type="tns:statoPagamento" />
					<xsd:element name="xmlRT" type="xsd:base64Binary" minOccurs="0" />
					<xsd:element name="pagamento" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="idPagamento" type="tns:idPagamento" />
								<xsd:element name="debitore" type="tns:anagrafica" />
								<xsd:element name="importoTotale" type="tns:importo" />
								<xsd:element name="dataScadenza" type="xsd:date" />
								<xsd:element name="causale" type="xsd:string" />
								<xsd:sequence>
									<xsd:element name="singoloPagamento" minOccurs="1" maxOccurs="5">
										<xsd:complexType>
											<xsd:complexContent>
												<xsd:extension base="tns:singoloPagamento">
													<xsd:sequence>
														<xsd:element name="importoPagato" type="tns:importo" />
														<xsd:element name="iur" type="xsd:string"
															minOccurs="0" />
														<xsd:element name="stato" type="tns:statoSingoloPagamento" />
													</xsd:sequence>
												</xsd:extension>
											</xsd:complexContent>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="gpChiediStatoPagamentoResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="versamento" type="tns:versamento" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpCercaVersamentiRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="limit" type="xsd:integer" minOccurs="0" />
						<xsd:element name="offset" type="xsd:integer" minOccurs="0" />
						<xsd:element name="codApplicazione" type="xsd:string" minOccurs="0" />
						<xsd:element name="codPortale" type="xsd:string" minOccurs="0" />
						<xsd:element name="codEnte" type="xsd:string" minOccurs="0" />
						<xsd:element name="codUnivocoDebitore" type="xsd:string" minOccurs="0" />
						<xsd:element name="terminato" type="xsd:boolean" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:element name="gpCercaVersamentiResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="versamento" type="tns:versamento" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpInviaRr">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codPortale" type="xsd:string" />
						<xsd:element name="idPagamento" type="tns:idPagamento" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="gpInviaRrResponse" type="tns:esitoOperazione" />
			
			<xsd:element name="gpSceltaWISP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codPortale" type="xsd:string" />
						<xsd:choice>
							<xsd:element name="codDominio" type="xsd:string" />
							<xsd:element name="codEnte" type="xsd:string" />
						</xsd:choice>
						<xsd:element name="keyPA" type="xsd:string" />
						<xsd:element name="keyWISP" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="gpSceltaWISPResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="effettuazioneScelta" type="tns:effettuazioneSceltaWISP" />
								<xsd:element name="canale" type="tns:canale" minOccurs="0" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpChiediListaPsp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codPortale" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="gpChiediListaPspResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="psp" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="codPsp" type="xsd:string" />
											<xsd:element name="ragioneSociale" type="xsd:string" minOccurs="0"/>
											<xsd:element name="urlInfo" type="xsd:string" minOccurs="0"/>
											<xsd:element name="storno" type="xsd:boolean" />
											<xsd:element name="bollo" type="xsd:boolean" />
											<xsd:element name="canale" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="codCanale" type="xsd:string" />
														<xsd:element name="tipoVersamento" type="tns:tipoVersamento" />
														<xsd:element name="modelloVersamento" type="tns:modelloVersamento" />
														<xsd:element name="disponibilita" type="xsd:string" minOccurs="0"/>
														<xsd:element name="descrizione" type="xsd:string" minOccurs="0"/>
														<xsd:element name="condizioni" type="xsd:string" minOccurs="0"/>
														<xsd:element name="urlInfo" type="xsd:string" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpGeneraCodiciAvviso">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="codApplicazione" type="xsd:string" />
							<xsd:element name="codPortale" type="xsd:string" />
						</xsd:choice>
						<xsd:element name="idPagamento" type="tns:idPagamento" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpGeneraCodiciAvvisoResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="qrcode" type="xsd:base64Binary" minOccurs="0" />
								<xsd:element name="barcode" type="xsd:base64Binary" minOccurs="0" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpChiediFlussoRendicontazione">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="codApplicazione" type="xsd:string" />
							<xsd:element name="idFr" type="xsd:long" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpChiediFlussoRendicontazioneResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="Fr" type="tns:Fr" minOccurs="0" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpChiediListaFlussiRendicontazione">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="codApplicazione" type="xsd:string" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="gpChiediListaFlussiRendicontazioneResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="fr" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="idFr" type="xsd:long" />
											<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
											<xsd:element name="numeroPagamenti" type="xsd:long" minOccurs="0"/>
											<xsd:element name="importoTotale" type="tns:importo" minOccurs="0"/>
											<xsd:element name="iur" type="xsd:string" minOccurs="0"/>
											<xsd:element name="dataRegolamento" type="xsd:date" minOccurs="0"/>
											<xsd:element name="stato" type="xsd:string" />
											<xsd:element name="descrizioneStato" type="xsd:string" minOccurs="0"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="paInviaEsitoPagamento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="stato" type="tns:statoPagamento" />
						<xsd:element name="xmlRT" type="xsd:base64Binary" minOccurs="0" />
						<xsd:element name="pagamento" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="codApplicazione" type="xsd:string" />
									<xsd:element name="idPagamento" type="tns:idPagamento" />
									<xsd:element name="debitore" type="tns:anagrafica" />
									<xsd:element name="importoTotale" type="tns:importo" />
									<xsd:element name="dataScadenza" type="xsd:date" />
									<xsd:element name="causale" type="xsd:string" />
									<xsd:sequence>
										<xsd:element name="singoloPagamento" minOccurs="1" maxOccurs="5">
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:extension base="tns:singoloPagamento">
														<xsd:sequence>
															<xsd:element name="importoPagato" type="tns:importo" />
															<xsd:element name="iur" type="xsd:string" minOccurs="0" />
															<xsd:element name="stato" type="tns:statoSingoloPagamento" />
														</xsd:sequence>
													</xsd:extension>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="paVerificaPagamentoInAttesa">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codApplicazione" type="xsd:string" />
						<xsd:element name="idPagamento" type="tns:idPagamento" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="paVerificaPagamentoInAttesaResponse">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:esitoOperazione">
							<xsd:sequence>
								<xsd:element name="debitore" type="tns:anagrafica" />
								<xsd:element name="importoTotale" type="tns:importo" />
								<xsd:element name="dataScadenza" type="xsd:date" />
								<xsd:element name="causale" type="xsd:string" />
								<xsd:sequence>
									<xsd:element name="singoloPagamento" type="tns:singoloPagamento" minOccurs="1" maxOccurs="5" />
								</xsd:sequence>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="esitoOperazione">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="codApplicazione" type="xsd:string" />
						<xsd:element name="codPortale" type="xsd:string" />
					</xsd:choice>
					<xsd:element name="codOperazione" type="xsd:string" />
					<xsd:element name="codEsito" type="tns:codEsito" />
					<xsd:choice>
						<xsd:element name="idPagamento" type="tns:idPagamento" maxOccurs="unbounded" />
						<xsd:element name="codEnte" type="xsd:string" />
					</xsd:choice>
					<xsd:element name="codErrore" type="tns:codErrore" minOccurs="0" />
					<xsd:element name="descrizioneErrore" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="canale">
				<xsd:sequence>
					<xsd:element name="codPsp" type="xsd:string" />
					<xsd:choice>
						<xsd:element name="codCanale" type="xsd:string" />
						<xsd:element name="tipoVersamento" type="tns:tipoVersamento" />
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="wispKeys">
				<xsd:sequence>
			  		<xsd:element name="idDominio" type="xsd:string" />
					<xsd:element name="keyPA" type="xsd:string" />
					<xsd:element name="keyWISP" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="idPagamento">
				<xsd:sequence>
					<xsd:element name="codEnte" type="xsd:string" />
					<xsd:element name="iuv" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="pagamento">
				<xsd:sequence>
					<xsd:element name="codApplicazione" type="xsd:string" />
					<xsd:element name="codEnte" type="xsd:string" />
					<xsd:choice>
						<xsd:element name="iuv" type="xsd:string" />
						<xsd:element name="tipoIuv" type="tns:tipoIuv" />
					</xsd:choice>
					<xsd:element name="debitore" type="tns:anagrafica" />
					<xsd:element name="importoTotale" type="tns:importo" />
					<xsd:element name="dataScadenza" type="xsd:date" />
					<xsd:element name="causale" type="xsd:string" />
					<xsd:sequence>
						<xsd:element name="singoloPagamento" type="tns:singoloPagamento" minOccurs="1" maxOccurs="5" />
					</xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="codEsito">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK"></xsd:enumeration>
					<xsd:enumeration value="KO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="effettuazioneSceltaWISP">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SI"></xsd:enumeration>
					<xsd:enumeration value="NO"></xsd:enumeration>
					<xsd:enumeration value="PO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="codErrore">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERRORE_AUTENTICAZIONE"></xsd:enumeration>
					<xsd:enumeration value="ERRORE_AUTORIZZAZIONE"></xsd:enumeration>
					<xsd:enumeration value="ERRORE_SEMANTICA"></xsd:enumeration>
					<xsd:enumeration value="ERRORE_INTERNO"></xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_NON_TROVATO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="statoPagamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="IN_ATTESA"></xsd:enumeration>
					<xsd:enumeration value="IN_CORSO"></xsd:enumeration>
					<xsd:enumeration value="AUTORIZZATO_IMMEDIATO">
						<xsd:annotation>
							<xsd:documentation>RPT Inviata con successo con profilo Immedato
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="AUTORIZZATO_DIFFERITO">
						<xsd:annotation>
							<xsd:documentation>RPT Inviata con successo con profilo Differito
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="AUTORIZZATO_PSP">
						<xsd:annotation>
							<xsd:documentation>RPT Inviata con successo a fronte di una
								Attivazione
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_ESEGUITO">
						<xsd:annotation>
							<xsd:documentation>RT acquisita con successo con esito
								PAGAMENTO_ESEGUITO
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_NON_ESEGUITO">
						<xsd:annotation>
							<xsd:documentation>RT acquisita con successo con esito
								PAGAMENTO_NON_ESEGUITO
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="PAGAMENTO_PARZIALMENTE_ESEGUITO">
						<xsd:annotation>
							<xsd:documentation>RT acquisita con successo con esito
								PAGAMENTO_PARZIALMENTE_ESEGUITO
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="DECORRENZA_TERMINI">
						<xsd:annotation>
							<xsd:documentation>RT acquisita con successo con esito
								DECORRENZA_TERMINI
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="DECORRENZA_TERMINI_PARZIALE">
						<xsd:annotation>
							<xsd:documentation>RT acquisita con successo con esito
								DECORRENZA_TERMINI_PARZIALE
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ANNULLATO">
						<xsd:annotation>
							<xsd:documentation>Pagamento annullato su richiesta
								dell'Applicazione
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="SCADUTO">
						<xsd:annotation>
							<xsd:documentation>Data di scadenza del pagamento decorsa
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="FALLITO">
						<xsd:annotation>
							<xsd:documentation>RPT inviata e terminata in stato terminale di
								KO
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="statoSingoloPagamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DA_PAGARE"></xsd:enumeration>
					<xsd:enumeration value="PAGATO"></xsd:enumeration>
					<xsd:enumeration value="RENDICONTATO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="anagrafica">
				<xsd:sequence>
					<xsd:element name="codUnivoco" type="xsd:string" />
					<xsd:element name="ragioneSociale" type="xsd:string" />
					<xsd:element name="indirizzo" type="xsd:string" minOccurs="0" />
					<xsd:element name="civico" type="xsd:string" minOccurs="0" />
					<xsd:element name="cap" type="xsd:string" minOccurs="0" />
					<xsd:element name="localita" type="xsd:string" minOccurs="0" />
					<xsd:element name="provincia" type="xsd:string" minOccurs="0" />
					<xsd:element name="nazione" type="xsd:string" minOccurs="0" />
					<xsd:element name="email" type="xsd:string" minOccurs="0" />
					<xsd:element name="telefono" type="xsd:string" minOccurs="0" />
					<xsd:element name="cellulare" type="xsd:string" minOccurs="0" />
					<xsd:element name="fax" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="singoloPagamento">
				<xsd:sequence>
					<xsd:element name="importo" type="tns:importo" />
					<xsd:element name="codTributo" type="xsd:string" />
					<xsd:element name="annoRiferimento" type="xsd:gYear" minOccurs="0" />
					<xsd:element name="codVersamentoEnte" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="tipoIuv">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="IUV_INIZIATIVA_ENTE"></xsd:enumeration>
					<xsd:enumeration value="IUV_INIZIATIVA_PSP"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="tipoVersamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BBT"></xsd:enumeration>
					<xsd:enumeration value="BP"></xsd:enumeration>
					<xsd:enumeration value="AD"></xsd:enumeration>
					<xsd:enumeration value="CP"></xsd:enumeration>
					<xsd:enumeration value="OBEP"></xsd:enumeration>
					<xsd:enumeration value="PO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="autenticazione">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CNS"></xsd:enumeration>
					<xsd:enumeration value="USR"></xsd:enumeration>
					<xsd:enumeration value="OTH"></xsd:enumeration>
					<xsd:enumeration value="N/A"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="modelloVersamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Immediato" />
					<xsd:enumeration value="ImmediatoMultibeneficiario" />
					<xsd:enumeration value="Differito" />
					<xsd:enumeration value="AttivatoPSP" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="importo">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0.00" />
					<xsd:maxInclusive value="99999999.99" />
					<xsd:fractionDigits value="2" />
					<xsd:totalDigits value="12" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="Fr">
				<xsd:sequence>
					<xsd:element name="codFlusso" type="xsd:string" />
					<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
					<xsd:element name="annoRiferimento" type="xsd:gYear" />
					<xsd:element name="numeroPagamenti" type="xsd:long" />
					<xsd:element name="importoTotale" type="tns:importo" />
					<xsd:element name="iur" type="xsd:string" />
					<xsd:element name="dataRegolamento" type="xsd:date" />
					<xsd:element name="stato" type="xsd:string" />
					<xsd:element name="descrizioneStato" type="xsd:string" />
					<xsd:element name="rendicontazione" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="importo" type="tns:importo" />
								<xsd:element name="iur" type="xsd:string" />
								<xsd:element name="iuv" type="xsd:string" />
								<xsd:element name="codVersamentoEnte" type="xsd:string" />
								<xsd:element name="esito" type="xsd:int" />
								<xsd:element name="dataEsito" type="xsd:date" />
								<xsd:element name="codContabilita" type="xsd:string" />
								<xsd:element name="tipoContabilita" type="xsd:string" />
								<xsd:element name="codTributo" type="xsd:string" />
								<xsd:element name="descrizioneTributo" type="xsd:string" />
								<xsd:element name="ibanAccredito" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="gpCaricaPagamentoInAttesa">
		<wsdl:part name="bodyrichiesta" element="tns:gpCaricaPagamentoInAttesa" />
	</wsdl:message>

	<wsdl:message name="gpCaricaPagamentoInAttesaResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpCaricaPagamentoInAttesaResponse" />
	</wsdl:message>

	<wsdl:message name="gpCancellaPagamentoInAttesa">
		<wsdl:part name="bodyrichiesta" element="tns:gpCancellaPagamentoInAttesa" />
	</wsdl:message>

	<wsdl:message name="gpCancellaPagamentoInAttesaResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpCancellaPagamentoInAttesaResponse" />
	</wsdl:message>

	<wsdl:message name="gpGeneraIUV">
		<wsdl:part name="bodyrichiesta" element="tns:gpGeneraIUV" />
	</wsdl:message>
	<wsdl:message name="gpGeneraIUVResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpGeneraIUVResponse" />
	</wsdl:message>

	<wsdl:message name="gpInviaRpt">
		<wsdl:part name="bodyrichiesta" element="tns:gpInviaRpt" />
	</wsdl:message>
	<wsdl:message name="gpInviaRptResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpInviaRptResponse" />
	</wsdl:message>

	<wsdl:message name="gpGeneraRpt">
		<wsdl:part name="bodyrichiesta" element="tns:gpGeneraRpt" />
	</wsdl:message>
	<wsdl:message name="gpGeneraRptResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpGeneraRptResponse" />
	</wsdl:message>

	<wsdl:message name="gpChiediStatoPagamento">
		<wsdl:part name="bodyrichiesta" element="tns:gpChiediStatoPagamento" />
	</wsdl:message>
	<wsdl:message name="gpChiediStatoPagamentoResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpChiediStatoPagamentoResponse" />
	</wsdl:message>

	<wsdl:message name="gpInviaRr">
		<wsdl:part name="bodyrichiesta" element="tns:gpInviaRr" />
	</wsdl:message>
	<wsdl:message name="gpInviaRrResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpInviaRrResponse" />
	</wsdl:message>
	
	<wsdl:message name="gpSceltaWISP">
		<wsdl:part name="bodyrichiesta" element="tns:gpSceltaWISP" />
	</wsdl:message>
	<wsdl:message name="gpSceltaWISPResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpSceltaWISPResponse" />
	</wsdl:message>
	
	<wsdl:message name="gpChiediListaPsp">
		<wsdl:part name="bodyrichiesta" element="tns:gpChiediListaPsp" />
	</wsdl:message>
	<wsdl:message name="gpChiediListaPspResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpChiediListaPspResponse" />
	</wsdl:message>
	
	<wsdl:message name="gpChiediListaFlussiRendicontazione">
		<wsdl:part name="bodyrichiesta" element="tns:gpChiediListaFlussiRendicontazione" />
	</wsdl:message>
	<wsdl:message name="gpChiediListaFlussiRendicontazioneResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpChiediListaFlussiRendicontazioneResponse" />
	</wsdl:message>
		
	<wsdl:message name="gpChiediFlussoRendicontazione">
		<wsdl:part name="bodyrichiesta" element="tns:gpChiediFlussoRendicontazione" />
	</wsdl:message>
	<wsdl:message name="gpChiediFlussoRendicontazioneResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpChiediFlussoRendicontazioneResponse" />
	</wsdl:message>
	
	<wsdl:message name="gpGeneraCodiciAvviso">
		<wsdl:part name="bodyrichiesta" element="tns:gpGeneraCodiciAvviso" />
	</wsdl:message>
	<wsdl:message name="gpGeneraCodiciAvvisoResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpGeneraCodiciAvvisoResponse" />
	</wsdl:message>

	<wsdl:message name="gpCercaVersamentiRequest">
		<wsdl:part name="bodyrichiesta" element="tns:gpCercaVersamentiRequest" />
	</wsdl:message>
	<wsdl:message name="gpCercaVersamentiResponse">
		<wsdl:part name="bodyrisposta" element="tns:gpCercaVersamentiResponse" />
	</wsdl:message>

	<wsdl:message name="paInviaEsitoPagamento">
		<wsdl:part name="bodyrichiesta" element="tns:paInviaEsitoPagamento" />
	</wsdl:message>

	<wsdl:message name="paVerificaPagamentoInAttesa">
		<wsdl:part name="bodyrichiesta" element="tns:paVerificaPagamentoInAttesa" />
	</wsdl:message>
	<wsdl:message name="paVerificaPagamentoInAttesaResponse">
		<wsdl:part name="bodyrisposta" element="tns:paVerificaPagamentoInAttesaResponse" />
	</wsdl:message>

	<wsdl:portType name="PagamentiTelematiciGPApp">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		<wsdl:operation name="gpCaricaPagamentoInAttesa">
			<wsdl:input message="tns:gpCaricaPagamentoInAttesa" />
			<wsdl:output message="tns:gpCaricaPagamentoInAttesaResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpCancellaPagamentoInAttesa">
			<wsdl:input message="tns:gpCancellaPagamentoInAttesa" />
			<wsdl:output message="tns:gpCancellaPagamentoInAttesaResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpGeneraIUV">
			<wsdl:input message="tns:gpGeneraIUV" />
			<wsdl:output message="tns:gpGeneraIUVResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpChiediStatoPagamento">
			<wsdl:input message="tns:gpChiediStatoPagamento" />
			<wsdl:output message="tns:gpChiediStatoPagamentoResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="gpCercaVersamenti">
			<wsdl:input message="tns:gpCercaVersamentiRequest" />
			<wsdl:output message="tns:gpCercaVersamentiResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="gpChiediListaFlussiRendicontazione">
			<wsdl:input message="tns:gpChiediListaFlussiRendicontazione" />
			<wsdl:output message="tns:gpChiediListaFlussiRendicontazioneResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="gpChiediFlussoRendicontazione">
			<wsdl:input message="tns:gpChiediFlussoRendicontazione" />
			<wsdl:output message="tns:gpChiediFlussoRendicontazioneResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="gpGeneraCodiciAvviso">
			<wsdl:input message="tns:gpGeneraCodiciAvviso" />
			<wsdl:output message="tns:gpGeneraCodiciAvvisoResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:portType name="PagamentiTelematiciGPPrt">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>

		<wsdl:operation name="gpInviaRpt">
			<wsdl:input message="tns:gpInviaRpt" />
			<wsdl:output message="tns:gpInviaRptResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpGeneraRpt">
			<wsdl:input message="tns:gpGeneraRpt" />
			<wsdl:output message="tns:gpGeneraRptResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpChiediStatoPagamento">
			<wsdl:input message="tns:gpChiediStatoPagamento" />
			<wsdl:output message="tns:gpChiediStatoPagamentoResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpCercaVersamenti">
			<wsdl:input message="tns:gpCercaVersamentiRequest" />
			<wsdl:output message="tns:gpCercaVersamentiResponse" />
		</wsdl:operation>

		<wsdl:operation name="gpSceltaWISP">
			<wsdl:input message="tns:gpSceltaWISP" />
			<wsdl:output message="tns:gpSceltaWISPResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="gpChiediListaPsp">
			<wsdl:input message="tns:gpChiediListaPsp" />
			<wsdl:output message="tns:gpChiediListaPspResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="gpGeneraCodiciAvviso">
			<wsdl:input message="tns:gpGeneraCodiciAvviso" />
			<wsdl:output message="tns:gpGeneraCodiciAvvisoResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:portType name="PagamentiTelematiciPA">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		<wsdl:operation name="paInviaEsitoPagamento">
			<wsdl:input message="tns:paInviaEsitoPagamento" />
		</wsdl:operation>

		<wsdl:operation name="paVerificaPagamentoInAttesa">
			<wsdl:input message="tns:paVerificaPagamentoInAttesa" />
			<wsdl:output message="tns:paVerificaPagamentoInAttesaResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciGPAppbinding" type="tns:PagamentiTelematiciGPApp">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="gpCaricaPagamentoInAttesa">
			<soap:operation soapAction="gpCaricaPagamentoInAttesa" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpCancellaPagamentoInAttesa">
			<soap:operation soapAction="gpCancellaPagamentoInAttesa" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpGeneraIUV">
			<soap:operation soapAction="gpGeneraIUV" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpChiediStatoPagamento">
			<soap:operation soapAction="gpChiediStatoPagamento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpCercaVersamenti">
			<soap:operation soapAction="gpCercaVersamenti" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="gpChiediListaFlussiRendicontazione">
			<soap:operation soapAction="gpChiediListaFlussiRendicontazione" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="gpChiediFlussoRendicontazione">
			<soap:operation soapAction="gpChiediFlussoRendicontazione" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="gpGeneraCodiciAvviso">
			<soap:operation soapAction="gpGeneraCodiciAvviso" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


	<wsdl:binding name="PagamentiTelematiciGPPrtbinding" type="tns:PagamentiTelematiciGPPrt">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="gpInviaRpt">
			<soap:operation soapAction="gpInviaRpt" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpGeneraRpt">
			<soap:operation soapAction="gpGeneraRpt" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpChiediStatoPagamento">
			<soap:operation soapAction="gpChiediStatoPagamento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="gpSceltaWISP">
			<soap:operation soapAction="gpSceltaWISP" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="gpChiediListaPsp">
			<soap:operation soapAction="gpChiediListaPsp" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="gpCercaVersamenti">
			<soap:operation soapAction="gpCercaVersamenti" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="gpGeneraCodiciAvviso">
			<soap:operation soapAction="gpGeneraCodiciAvviso" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:binding name="PagamentiTelematiciPAbinding" type="tns:PagamentiTelematiciPA">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="paInviaEsitoPagamento">
			<soap:operation soapAction="paInviaEsitoPagamento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>

		<wsdl:operation name="paVerificaPagamentoInAttesa">
			<soap:operation soapAction="paVerificaPagamentoInAttesa" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PagamentiTelematiciGPAppservice">
		<wsdl:port name="GPAppPort" binding="tns:PagamentiTelematiciGPAppbinding">
			<soap:address location="http://www.govpay.it/" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="PagamentiTelematiciGPPrtservice">
		<wsdl:port name="GPPrtPort" binding="tns:PagamentiTelematiciGPPrtbinding">
			<soap:address location="http://www.govpay.it/" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="PagamentiTelematiciPAservice">
		<wsdl:port name="PAPort" binding="tns:PagamentiTelematiciPAbinding">
			<soap:address location="http://www.govpay.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
