govpay-orm/src/main/java/schemi/govpay.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.govpay.it/orm" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.govpay.it/orm">

	


	<xsd:simpleType name="String511">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="511"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="String512">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TwoDigitsDecimal">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="OneDigitDecimal">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="IBANType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="id-ente">
		<xsd:sequence>
			<xsd:element name="codEnte" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-portale">
		<xsd:sequence>
			<xsd:element name="codPortale" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-stazione">
		<xsd:sequence>
			<xsd:element name="codStazione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-iuv">
		<xsd:sequence>
			<xsd:element name="codDominio" type="xsd:string"/>
			<xsd:element name="prg" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-dominio">
		<xsd:sequence>
			<xsd:element name="codDominio" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-anagrafica">
		<xsd:sequence>
			<xsd:element name="idAnagrafica" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-psp">
		<xsd:sequence>
			<xsd:element name="codPsp" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-canale">
		<xsd:sequence>
			<xsd:element name="idPsp" type="id-psp"/>
			<xsd:element name="codCanale" type="xsd:string"/>
			<xsd:element name="tipoVersamento" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-operatore">
		<xsd:sequence>
			<xsd:element name="principal" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-intermediario">
		<xsd:sequence>
			<xsd:element name="codIntermediario" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-connettore">
		<xsd:sequence>
			<xsd:element name="codConnettore" type="xsd:string"/>
			<xsd:element name="codProprieta" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-tabella-controparti">
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio"/>
			<xsd:element name="idFlusso" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-conto-accredito">
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio"/>
			<xsd:element name="idFlusso" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-applicazione">
		<xsd:sequence>
			<xsd:element name="codApplicazione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-tracciato">
		<xsd:sequence>
			<xsd:element name="idTracciato" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-tributo">
		<xsd:sequence>
			<xsd:element name="idEnte" type="id-ente"/>
			<xsd:element name="codTributo" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-versamento">
		<xsd:sequence>
			<xsd:element name="codVersamentoEnte" type="xsd:string"/>
			<xsd:element name="codDominio" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-singolo-versamento">
		<xsd:sequence>
			<xsd:element name="idVersamento" type="id-versamento"/>
			<xsd:element name="indice" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-carrello">
		<xsd:sequence>
			<xsd:element name="codCarrello" type="xsd:string"/>
			<xsd:element name="idRpt" type="id-rpt"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-rpt">
		<xsd:sequence>
			<xsd:element name="codMsgRichiesta" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-rt">
		<xsd:sequence>
			<xsd:element name="codMsgRicevuta" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-evento">
		<xsd:sequence>
			<xsd:element name="idEvento" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-esito">
		<xsd:sequence>
			<xsd:element name="idEsito" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-sla">
		<xsd:sequence>
			<xsd:element name="idSLA" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-rilevamento">
		<xsd:sequence>
			<xsd:element name="idRilevamento" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-media-rilevamento">
		<xsd:sequence>
			<xsd:element name="idSLA" type="id-sla"/>
			<xsd:element name="dataOsservazione" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-rr">
		<xsd:sequence>
			<xsd:element name="codMsgRevoca" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-iban-accredito">
		<xsd:sequence>
			<xsd:element name="codIban" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-er">
		<xsd:sequence>
			<xsd:element name="codMsgEsito" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-singola-revoca">
		<xsd:sequence>
			<xsd:element name="id-singola-revoca" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-fr">
		<xsd:sequence>
			<xsd:element name="codFlusso" type="xsd:string"/>
			<xsd:element name="annoRiferimento" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-singola-rendicontazione">
		<xsd:sequence>
			<xsd:element name="id-singola-rendicontazione" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-mail">
		<xsd:sequence>
			<xsd:element name="id-mail" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-mail-template">
		<xsd:sequence>
			<xsd:element name="id-mail-template" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="TracciatoXML" type="TracciatoXML"/>
	<xsd:complexType name="TracciatoXML">
		
		<xsd:sequence>
			<xsd:element name="tipoTracciato" type="xsd:string"/>
			<xsd:element name="codMessaggio" type="xsd:string"/>
			<xsd:element name="dataOraCreazione" type="xsd:dateTime"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Anagrafica -->

	<xsd:element name="Dominio" type="Dominio"/>
	<xsd:complexType name="Dominio">
		
		<xsd:sequence>
			<xsd:element name="idStazione" type="id-stazione">
				
			</xsd:element>
			<xsd:element name="codDominio" type="xsd:string"/>
			<xsd:element name="ragioneSociale" type="xsd:string"/>
			<xsd:element name="gln" type="xsd:string"/>
			<xsd:element minOccurs="0" name="pluginClass" type="String512"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Disponibilita"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="Disponibilita" type="Disponibilita"/>
	<xsd:complexType name="Disponibilita">
		
		<xsd:sequence>
			<xsd:element name="tipoPeriodo" type="xsd:string"/>
			<xsd:element name="giorno" type="xsd:string"/>
			<xsd:element name="fasceOrarie" type="String512">
				
			</xsd:element>
			<xsd:element name="tipoDisponibilita" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="TabellaControparti" type="TabellaControparti"/>
	<xsd:complexType name="TabellaControparti">
		
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element name="idFlusso" type="xsd:string"/>
			<xsd:element name="dataOraPubblicazione" type="xsd:dateTime"/>
			<xsd:element name="dataOraInizioValidita" type="xsd:dateTime"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ContoAccredito" type="ContoAccredito"/>
	<xsd:complexType name="ContoAccredito">
		
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element name="idFlusso" type="xsd:string"/>
			<xsd:element name="dataOraPubblicazione" type="xsd:dateTime"/>
			<xsd:element name="dataOraInizioValidita" type="xsd:dateTime"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Psp" type="Psp"/>
	<xsd:complexType name="Psp">
		
		<xsd:sequence>
			<xsd:element name="codPsp" type="xsd:string"/>
			<xsd:element name="ragioneSociale" type="xsd:string"/>
			<xsd:element name="codFlusso" type="xsd:string"/>
			<xsd:element minOccurs="0" name="urlInfo" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="storno" type="xsd:boolean"/>
			<xsd:element name="marcaBollo" type="xsd:boolean"/>
			<xsd:element name="idTracciato" type="id-tracciato">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Canale" type="Canale"/>
	<xsd:complexType name="Canale">
		
		<xsd:sequence>
			
			<xsd:element name="idPsp" type="id-psp">
				
			</xsd:element>
			
			<xsd:element name="codCanale" type="xsd:string"/>
			<xsd:element name="codIntermediario" type="xsd:string"/>
			<xsd:element name="tipoVersamento" type="xsd:string"/>
			<xsd:element name="modelloPagamento" type="xsd:integer"/>
			<xsd:element minOccurs="0" name="disponibilita" type="String511">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="descrizione" type="String511">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="condizioni" type="xsd:string"/>
			<xsd:element minOccurs="0" name="urlInfo" type="xsd:string"/>
			
			<xsd:element name="abilitato" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Anagrafica" type="Anagrafica"/>
	<xsd:complexType name="Anagrafica">
		
		<xsd:sequence>
			<xsd:element name="ragioneSociale" type="xsd:string"/>
			<xsd:element name="codUnivoco" type="xsd:string"/>
			<xsd:element minOccurs="0" name="indirizzo" type="xsd:string"/>
			<xsd:element minOccurs="0" name="civico" type="xsd:string"/>
			<xsd:element minOccurs="0" name="cap" type="xsd:string"/>
			<xsd:element minOccurs="0" name="localita" type="xsd:string"/>
			<xsd:element minOccurs="0" name="provincia" type="xsd:string"/>
			<xsd:element minOccurs="0" name="nazione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="email" type="xsd:string"/>
			<xsd:element minOccurs="0" name="telefono" type="xsd:string"/>
			<xsd:element minOccurs="0" name="cellulare" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fax" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="MailTemplate" type="MailTemplate"/>
	<xsd:complexType name="MailTemplate">
		
		<xsd:sequence>
			<xsd:element name="mittente" type="xsd:string"/>
			<xsd:element name="templateOggetto" type="String512">
				
			</xsd:element>
			<xsd:element name="templateMessaggio" type="xsd:string">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="allegati" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Ente" type="Ente"/>
	<xsd:complexType name="Ente">
		
		<xsd:sequence>
			<xsd:element name="idAnagraficaEnte" type="id-anagrafica">
				
			</xsd:element>
			<!--xsd:element name="idOperatore" type="id-operatore" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-id-mapping object-name="Operatore"
								object-type="Operatore" relationship="none" />
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element-->
			<xsd:element name="codEnte" type="xsd:string"/>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			
			<xsd:element minOccurs="0" name="idTemplateRPT" type="id-mail-template">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idTemplateRT" type="id-mail-template">
				
			</xsd:element>
			
			<xsd:element name="invioMailRPTAbilitato" type="xsd:boolean"/>
			<xsd:element name="invioMailRTAbilitato" type="xsd:boolean"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Portale" type="Portale"/>
	<xsd:complexType name="Portale">
		
		<xsd:sequence>
			<xsd:element name="codPortale" type="xsd:string"/>
			<xsd:element name="defaultCallbackURL" type="String512"/>
			<xsd:element name="principal" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element maxOccurs="unbounded" ref="PortaleApplicazione"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PortaleApplicazione" type="PortaleApplicazione"/>
	<xsd:complexType name="PortaleApplicazione">
		
		<xsd:sequence>
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="Connettore" type="Connettore"/>
	<xsd:complexType name="Connettore">
		
		<xsd:sequence>
			<xsd:element name="codConnettore" type="xsd:string"/>
			<xsd:element name="codProprieta" type="xsd:string"/>
			<xsd:element name="valore" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Intermediario" type="Intermediario"/>
	<xsd:complexType name="Intermediario">
		
		<xsd:sequence>
			<xsd:element name="codIntermediario" type="xsd:string"/>
			<xsd:element name="codConnettorePdd" type="xsd:string"/>
			<xsd:element name="denominazione" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Stazione" type="Stazione"/>
	<xsd:complexType name="Stazione">
		
		<xsd:sequence>
			<xsd:element name="idIntermediario" type="id-intermediario">
				
			</xsd:element>
			<xsd:element name="codStazione" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="applicationCode" type="TwoDigitsDecimal"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Applicazione" type="Applicazione"/>
	<xsd:complexType name="Applicazione">
		
		<xsd:sequence>
			<xsd:element name="codApplicazione" type="xsd:string"/>
			<xsd:element name="principal" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="versione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="policyRispedizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codConnettoreEsito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codConnettoreVerifica" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ApplicazioneTributo"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="IbanAccredito" type="IbanAccredito"/>
	<xsd:complexType name="IbanAccredito">
		
		<xsd:sequence>
			<xsd:element name="codIban" type="IBANType"/>
			<xsd:element minOccurs="0" name="idSellerBank" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idNegozio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="bicAccredito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ibanAppoggio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="bicAppoggio" type="xsd:string"/>
			<xsd:element name="postale" type="xsd:boolean"/>
			<xsd:element name="attivato" type="xsd:boolean"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Tributo" type="Tributo"/>
	<xsd:complexType name="Tributo">
		
		<xsd:sequence>
			<xsd:element name="idEnte" type="id-ente">
				
			</xsd:element>
			<xsd:element name="codTributo" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ibanAccredito" type="id-iban-accredito">
				
			</xsd:element>
			<xsd:element name="tipoContabilita" type="xsd:string"/>
			<xsd:element name="codiceContabilita" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ApplicazioneTributo" type="ApplicazioneTributo"/>
	<xsd:complexType name="ApplicazioneTributo">
		
		<xsd:sequence>
			<xsd:element name="idTributo" type="id-tributo">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Operatore" type="Operatore"/>
	<xsd:complexType name="Operatore">
		
		<xsd:sequence>
			<!--xsd:element name="idAnagrafica" type="id-anagrafica">
				<xsd:annotation>
					<xsd:appinfo>
						<linkit:generator xmlns:linkit="http://www.link.it/project_generator">
							<linkit:sql-id-mapping object-name="Anagrafica"
								object-type="Anagrafica" relationship="reversed" />
						</linkit:generator>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element-->
			<xsd:element name="principal" type="xsd:string"/>
			<xsd:element name="nome" type="xsd:string"/>
			<xsd:element name="profilo" type="xsd:string"/>
			<xsd:element default="true" name="abilitato" type="xsd:boolean"/>
			<xsd:element maxOccurs="unbounded" ref="OperatoreEnte"/>
			<xsd:element maxOccurs="unbounded" ref="OperatoreApplicazione"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OperatoreEnte" type="OperatoreEnte"/>
	<xsd:complexType name="OperatoreEnte">
		
		<xsd:sequence>
			<xsd:element name="idEnte" type="id-ente">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="OperatoreApplicazione" type="OperatoreApplicazione"/>
	<xsd:complexType name="OperatoreApplicazione">
		
		<xsd:sequence>
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Versamento -->
	
	<xsd:element name="IUV" type="IUV"/>
	<xsd:complexType name="IUV">
		
		<xsd:sequence>
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			<xsd:element name="codDominio" type="xsd:string"/>
			<xsd:element name="prg" type="xsd:long"/>
			<xsd:element name="iuv" type="xsd:string"/>
			<xsd:element name="dataGenerazione" type="xsd:date"/>
			<xsd:element name="applicationCode" type="TwoDigitsDecimal"/>
			<xsd:element name="auxDigit" type="OneDigitDecimal"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Versamento" type="Versamento"/>
	<xsd:complexType name="Versamento">
		
		<xsd:sequence>
			<xsd:element name="codVersamentoEnte" type="xsd:string"/>
			<xsd:element name="codDominio" type="xsd:string"/>
			<xsd:element name="iuv" type="xsd:string"/>
			
			<xsd:element name="idEnte" type="id-ente">
				
			</xsd:element>
			
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			
			<xsd:element name="idAnagraficaDebitore" type="id-anagrafica">
				
			</xsd:element>
			
			<xsd:element name="importoTotale" type="xsd:double"/>
			<xsd:element name="statoVersamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="statoRendicontazione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="importoPagato" type="xsd:decimal"/>
			<xsd:element name="dataScadenza" type="xsd:date"/>
			<xsd:element name="dataOraUltimoAggiornamento" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SingoloVersamento" type="SingoloVersamento"/>
	<xsd:complexType name="SingoloVersamento">
		
		<xsd:sequence>
			<xsd:element name="idVersamento" type="id-versamento">
				
			</xsd:element>
			<xsd:element name="indice" type="xsd:int"/>
			<xsd:element minOccurs="0" name="codSingoloVersamentoEnte" type="xsd:string"/>
			
			<xsd:element name="idTributo" type="id-tributo">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="annoRiferimento" type="xsd:int"/>
			<xsd:element minOccurs="0" name="ibanAccredito" type="xsd:string"/>
			<xsd:element name="importoSingoloVersamento" type="xsd:double"/>
			<xsd:element minOccurs="0" name="importoCommissioniPA" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="singoloImportoPagato" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="causaleVersamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="datiSpecificiRiscossione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="statoSingoloVersamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="esitoSingoloPagamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dataEsitoSingoloPagamento" type="xsd:date"/>
			<xsd:element minOccurs="0" name="iur" type="xsd:string"/>
			
		</xsd:sequence>
	</xsd:complexType>	

	<!-- Pagamento -->
	
	<xsd:element name="RPT" type="RPT"/>
	<xsd:complexType name="RPT">
		
		<xsd:sequence>
			<xsd:element name="idVersamento" type="id-versamento">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idPsp" type="id-psp">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idCanale" type="id-canale">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idPortale" type="id-portale">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idTracciatoXML" type="id-tracciato">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idStazione" type="id-stazione">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="codCarrello" type="xsd:string"/>
			
			<xsd:element name="iuv" type="xsd:string"/>
			<xsd:element name="ccp" type="xsd:string"/>
			<xsd:element name="codDominio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tipoVersamento" type="xsd:string"/>
			
			<xsd:element minOccurs="0" name="idAnagraficaVersante" type="id-anagrafica">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="dataOraMsgRichiesta" type="xsd:dateTime"/>
			<xsd:element name="dataOraCreazione" type="xsd:dateTime"/>
			<xsd:element name="codMsgRichiesta" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ibanAddebito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="autenticazioneSoggetto" type="xsd:string"/>
			<xsd:element name="firmaRT" type="xsd:string"/>
			<xsd:element name="stato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="codFault" type="xsd:string"/>
			<xsd:element minOccurs="0" name="callbackURL" type="String512">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="codSessione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="pspRedirectURL" type="String512"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:element name="Carrello" type="Carrello"/>
	<xsd:complexType name="Carrello">
		
		<xsd:sequence>
			<xsd:element name="idRpt" type="id-rpt">
				
			</xsd:element>
			<xsd:element name="codCarrello" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:element name="RT" type="RT"/>
	<xsd:complexType name="RT">
		
		<xsd:sequence>
			<xsd:element name="idRPT" type="id-rpt">
				
			</xsd:element>
			
			<xsd:element name="idTracciato" type="id-tracciato">
				
			</xsd:element>
			
			<xsd:element name="codMsgRicevuta" type="xsd:string"/>
			<xsd:element name="dataOraMsgRicevuta" type="xsd:dateTime"/>
			
			<xsd:element name="idAnagraficaAttestante" type="id-anagrafica">
				
			</xsd:element>
			
			<xsd:element name="codEsitoPagamento" type="xsd:int"/>
			<xsd:element name="importoTotalePagato" type="xsd:double"/>
			<xsd:element name="stato" type="xsd:string"/>
			<xsd:element name="descrizioneStato" type="xsd:string"/>

		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Esito" type="Esito"/>
	<xsd:complexType name="Esito">
		
		<xsd:sequence>

			<xsd:element name="codDominio" type="xsd:string"/>
			<xsd:element name="iuv" type="xsd:string"/>
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			<xsd:element name="statoSpedizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dettaglioSpedizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tentativiSpedizione" type="xsd:unsignedLong"/>
			<xsd:element name="dataOraCreazione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataOraUltimaSpedizione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataOraProssimaSpedizione" type="xsd:dateTime"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Eventi -->
	
	<xsd:element name="Evento" type="Evento"/>
	<xsd:complexType name="Evento">
		
		<xsd:sequence>
			<xsd:element name="dataOraEvento" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="codDominio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="iuv" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idApplicazione" type="xsd:unsignedLong"/>
			<xsd:element minOccurs="0" name="ccp" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codPsp" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tipoVersamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="componente" type="xsd:string"/>
			<xsd:element minOccurs="0" name="categoriaEvento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tipoEvento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="sottotipoEvento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codFruitore" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codErogatore" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codStazione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="canalePagamento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="altriParametri" type="xsd:string"/>
			<xsd:element minOccurs="0" name="esito" type="xsd:string"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SLA" type="SLA"/>
	<xsd:complexType name="SLA">
		
		<xsd:sequence>
			<xsd:element name="descrizione" type="xsd:string"/>
			<xsd:element name="tipoEventoIniziale" type="xsd:string"/>
			<xsd:element name="sottotipoEventoIniziale" type="xsd:string"/>
			<xsd:element name="tipoEventoFinale" type="xsd:string"/>
			<xsd:element name="sottotipoEventoFinale" type="xsd:string"/>
			<xsd:element name="tempoA" type="xsd:long"/>
			<xsd:element name="tempoB" type="xsd:long"/>
			<xsd:element name="tolleranzaA" type="xsd:double"/>
			<xsd:element name="tolleranzaB" type="xsd:double"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Rilevamento" type="Rilevamento"/>
	<xsd:complexType name="Rilevamento">
		
		<xsd:sequence>
			<xsd:element name="idSLA" type="id-sla">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idApplicazione" type="xsd:long"/>
			
			<xsd:element name="idEventoIniziale" type="id-evento">
				
			</xsd:element>
			
			<xsd:element name="idEventoFinale" type="id-evento">
				
			</xsd:element>
			
			<xsd:element name="dataRilevamento" type="xsd:date"/>
			
			<xsd:element name="durata" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="MediaRilevamento" type="MediaRilevamento"/>
	<xsd:complexType name="MediaRilevamento">
		
		<xsd:sequence>
			<xsd:element name="idSLA" type="id-sla">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idApplicazione" type="xsd:long"/>
			<xsd:element name="dataOsservazione" type="xsd:date"/>
			<xsd:element name="numRilevamentiA" type="xsd:long"/>
			<xsd:element name="percentualeA" type="xsd:double"/>
			<xsd:element name="numRilevamentiB" type="xsd:long"/>
			<xsd:element name="percentualeB" type="xsd:double"/>
			<xsd:element name="numRilevamentiOver" type="xsd:long"/>
			
		</xsd:sequence>
	</xsd:complexType>

	<!-- Revoche -->
	<xsd:element name="RR" type="RR"/>
	<xsd:complexType name="RR">
		
		<xsd:sequence>
			
			<xsd:element name="idRT" type="id-rt">
				
			</xsd:element>
			
			<xsd:element name="idTracciatoXML" type="id-tracciato">
				
			</xsd:element>
			
			<xsd:element name="codMsgRevoca" type="xsd:string"/>
			<xsd:element name="dataOraMsgRevoca" type="xsd:dateTime"/>
			<xsd:element name="importoTotaleRevocato" type="xsd:double"/>
			<xsd:element name="stato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string"/>
			<xsd:element name="dataOraCreazione" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ER" type="ER"/>
	<xsd:complexType name="ER">
		
		<xsd:sequence>
			
			<xsd:element name="idRR" type="id-rr">
				
			</xsd:element>
			
			<xsd:element name="idTracciatoXML" type="id-tracciato">
				
			</xsd:element>
			
			<xsd:element name="codMsgEsito" type="xsd:string"/>
			<xsd:element name="dataOraMsgEsito" type="xsd:dateTime"/>
			<xsd:element name="importoTotaleRevocato" type="xsd:double"/>
			<xsd:element name="stato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string"/>
			<xsd:element name="dataOraCreazione" type="xsd:dateTime"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SingolaRevoca" type="SingolaRevoca"/>
	<xsd:complexType name="SingolaRevoca">
		
		<xsd:sequence>
			
			<xsd:element name="idRR" type="id-rr">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idER" type="xsd:long"/>
			
			<xsd:element name="idSingoloVersamento" type="id-singolo-versamento">
				
			</xsd:element>
			
			<xsd:element name="causaleRevoca" type="xsd:string"/>
			<xsd:element name="datiAggiuntiviRevoca" type="xsd:string"/>
			<xsd:element name="singoloImporto" type="xsd:double"/>
			<xsd:element minOccurs="0" name="singoloImportoRevocato" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="causaleEsito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="datiAggiuntiviEsito" type="xsd:string"/>
			<xsd:element name="stato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string"/>
			
		</xsd:sequence>
	</xsd:complexType>

	<!-- Rendicontazioni -->
		
	<xsd:element name="FR" type="FR"/>
	<xsd:complexType name="FR">
		
		<xsd:sequence>
			<xsd:element name="idTracciatoXML" type="id-tracciato">
				
			</xsd:element>
			
			<xsd:element name="idPsp" type="id-psp">
				
			</xsd:element>
			
			<xsd:element name="codFlusso" type="xsd:string"/>
			<xsd:element name="annoRiferimento" type="xsd:int"/>
			<xsd:element name="dataOraFlusso" type="xsd:dateTime"/>
			<xsd:element name="iur" type="xsd:string"/>
			<xsd:element name="dataRegolamento" type="xsd:date"/>
			<xsd:element name="numeroPagamenti" type="xsd:long"/>
			<xsd:element name="importoTotalePagamenti" type="xsd:double"/>
			<xsd:element name="stato" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string">
				
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SingolaRendicontazione" type="SingolaRendicontazione"/>
	<xsd:complexType name="SingolaRendicontazione">
		
		<xsd:sequence>
			<xsd:element name="idFr" type="id-fr">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idSingoloVersamento" type="id-singolo-versamento">
				
			</xsd:element>
			<xsd:element name="iuv" type="xsd:string"/>
			<xsd:element name="iur" type="xsd:string"/>
			<xsd:element name="singoloImporto" type="xsd:double"/>
			<xsd:element name="codiceEsito" type="xsd:int"/>
			<xsd:element name="dataEsito" type="xsd:date"/>
			
		</xsd:sequence>
	</xsd:complexType>


	<!-- MAIL -->
	
	<xsd:element name="Mail" type="Mail"/>
	<xsd:complexType name="Mail">
		
		<xsd:sequence>
			<xsd:element name="tipoMail" type="xsd:string"/>
			<xsd:element name="bundleKey" type="xsd:long"/>
			<xsd:element minOccurs="0" name="idVersamento" type="xsd:unsignedLong"/>
			<xsd:element name="mittente" type="xsd:string"/>
			<xsd:element name="destinatario" type="xsd:string"/>
			<xsd:element minOccurs="0" name="cc" type="String512">
				
			</xsd:element>
			<xsd:element name="oggetto" type="String512">
				
			</xsd:element>
			<xsd:element name="messaggio" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="statoSpedizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dettaglioErroreSpedizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dataOraUltimaSpedizione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="tentativiRispedizione" type="xsd:unsignedLong"/>

			<xsd:element minOccurs="0" name="idTracciatoRPT" type="id-tracciato">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idTracciatoRT" type="id-tracciato">
				
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="id-messaggio">
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="counter" type="xsd:long">
					
				</xsd:element>
				<xsd:element name="protocollo" type="xsd:string">
					
				</xsd:element>
				<xsd:element name="info-associata" type="xsd:string">
					
				</xsd:element>
				<xsd:element minOccurs="0" name="ora_registrazione" type="xsd:dateTime">
					
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	


</xsd:schema>