govpay-orm/src/main/java/schemi/govpay.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.govpay.it/orm" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.govpay.it/orm">

	


	<xsd:simpleType name="Int2">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Int1">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String511">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="511"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String1024">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String256">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String255">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String35">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String36">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String4">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String1">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String3">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String2">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String70">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String140">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="140"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String16">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String512">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TwoDigitsDecimal">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FourDigitsDecimal">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ElevenDigitsDecimal">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="11"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="OneDigitDecimal">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="IBANType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="id-uo">
		<xsd:sequence>
			<xsd:element name="codUo" type="xsd:string"/>
			<xsd:element name="idDominio" type="id-dominio"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-pagamento">
		<xsd:sequence>
			<xsd:element name="idPagamento" type="xsd:long"/>
			<xsd:element minOccurs="0" name="idVersamento" type="id-versamento"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-rendicontazione">
		<xsd:sequence>
			<xsd:element name="idRendicontazione" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-portale">
		<xsd:sequence>
			<xsd:element name="codPortale" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-stazione">
		<xsd:sequence>
			<xsd:element name="codStazione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-iuv">
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio"/>
			<xsd:element name="prg" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="iuv-search">
		<xsd:sequence>
			<xsd:element name="iuv" type="String35"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="id-incasso">
		<xsd:sequence>
			<xsd:element name="trn" type="String35"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-dominio">
		<xsd:sequence>
			<xsd:element name="codDominio" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-anagrafica">
		<xsd:sequence>
			<xsd:element name="idAnagrafica" type="xsd:long"/>
			<xsd:element minOccurs="0" name="codUnivoco" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-psp">
		<xsd:sequence>
			<xsd:element name="codPsp" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-canale">
		<xsd:sequence>
			<xsd:element name="idPsp" type="id-psp"/>
			<xsd:element name="codCanale" type="xsd:string"/>
			<xsd:element name="tipoVersamento" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-operatore">
		<xsd:sequence>
			<xsd:element name="principal" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-intermediario">
		<xsd:sequence>
			<xsd:element name="codIntermediario" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-connettore">
		<xsd:sequence>
			<xsd:element name="codConnettore" type="xsd:string"/>
			<xsd:element name="codProprieta" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-tabella-controparti">
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio"/>
			<xsd:element name="idFlusso" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-conto-accredito">
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio"/>
			<xsd:element name="idFlusso" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-applicazione">
		<xsd:sequence>
			<xsd:element name="codApplicazione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-tracciato">
		<xsd:sequence>
			<xsd:element name="idTracciato" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-tributo">
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio"/>
			<xsd:element name="idTipoTributo" type="id-tipo-tributo"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-tipo-tributo">
		<xsd:sequence>
			<xsd:element name="codTributo" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-ruolo">
		<xsd:sequence>
			<xsd:element name="codRuolo" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-versamento">
		<xsd:sequence>
			<xsd:element name="codVersamentoEnte" type="xsd:string"/>
			<xsd:element name="idApplicazione" type="id-applicazione"/>
			<xsd:element minOccurs="0" name="debitoreIdentificativo" type="String35"/>
			<xsd:element minOccurs="0" name="debitoreAnagrafica" type="String70"/>
			<xsd:element minOccurs="0" name="codVersamentoLotto" type="String35"/>
			<xsd:element minOccurs="0" name="codAnnoTributario" type="String35"/>
			<xsd:element minOccurs="0" name="importoTotale" type="xsd:double"/>
			<xsd:element minOccurs="0" name="causaleVersamento" type="String511"/>
			<xsd:element minOccurs="0" name="statoVersamento" type="String35"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-singolo-versamento">
		<xsd:sequence>
			<xsd:element name="idVersamento" type="id-versamento"/>
			<xsd:element name="codSingoloVersamentoEnte" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idTributo" type="id-tributo"/>
			<xsd:element minOccurs="0" name="note" type="String512"/>
			<xsd:element minOccurs="0" name="statoSingoloVersamento" type="String35"/>
			<xsd:element minOccurs="0" name="importoSingoloVersamento" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-carrello">
		<xsd:sequence>
			<xsd:element name="codCarrello" type="xsd:string"/>
			<xsd:element name="idRpt" type="id-rpt"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-rpt">
		<xsd:sequence>
			<xsd:element name="codMsgRichiesta" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codDominio" type="String35"/>
			<xsd:element minOccurs="0" name="iuv" type="String35"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="id-evento">
		<xsd:sequence>
			<xsd:element name="idEvento" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-batch">
		<xsd:sequence>
			<xsd:element name="codBatch" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="id-notifica">
		<xsd:sequence>
			<xsd:element name="idNotifica" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-sla">
		<xsd:sequence>
			<xsd:element name="idSLA" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-rilevamento">
		<xsd:sequence>
			<xsd:element name="idRilevamento" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-media-rilevamento">
		<xsd:sequence>
			<xsd:element name="idSLA" type="id-sla"/>
			<xsd:element name="dataOsservazione" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-rr">
		<xsd:sequence>
			<xsd:element name="codMsgRevoca" type="String35"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-iban-accredito">
		<xsd:sequence>
			<xsd:element name="codIban" type="xsd:string"/>
			<xsd:element name="idDominio" type="id-dominio"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-er">
		<xsd:sequence>
			<xsd:element name="codMsgEsito" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-acl">
		<xsd:sequence>
			<xsd:element name="idAcl" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-singola-revoca">
		<xsd:sequence>
			<xsd:element name="id-singola-revoca" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-fr">
		<xsd:sequence>
			<xsd:element name="codFlusso" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codDominio" type="String35"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-singola-rendicontazione">
		<xsd:sequence>
			<xsd:element name="id-singola-rendicontazione" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-mail">
		<xsd:sequence>
			<xsd:element name="id-mail" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="id-mail-template">
		<xsd:sequence>
			<xsd:element name="id-mail-template" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Anagrafica -->

	<xsd:element name="Dominio" type="Dominio"/>
	<xsd:complexType name="Dominio">
		
		<xsd:sequence>
			<xsd:element name="idStazione" type="id-stazione">
				
			</xsd:element>
			<xsd:element name="codDominio" type="String35"/>
			<xsd:element name="gln" type="String35"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="ragioneSociale" type="String70"/>
			<xsd:element name="xmlContiAccredito" type="xsd:base64Binary"/>
			<xsd:element name="xmlTabellaControparti" type="xsd:base64Binary"/>
			<xsd:element name="riusoIUV" type="xsd:boolean"/>
			<xsd:element name="customIUV" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="idApplicazioneDefault" type="id-applicazione">
				
			</xsd:element>
			<xsd:element default="0" name="auxDigit" type="Int1"/>
			<xsd:element minOccurs="0" name="iuvPrefix" type="String255"/>
			<xsd:element default="false" name="iuvPrefixStrict" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="segregationCode" type="Int2"/>

			<xsd:element minOccurs="0" name="ndpStato" type="xsd:positiveInteger"/>
			<xsd:element minOccurs="0" name="ndpOperazione" type="String256"/>
			<xsd:element minOccurs="0" name="ndpDescrizione" type="String1024"/>
			<xsd:element minOccurs="0" name="ndpData" type="xsd:dateTime"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Psp" type="Psp"/>
	<xsd:complexType name="Psp">
		
		<xsd:sequence>
			<xsd:element name="codPsp" type="String35"/>
			<xsd:element name="ragioneSociale" type="String70"/>
			<xsd:element minOccurs="0" name="urlInfo" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="storno" type="xsd:boolean"/>
			<xsd:element name="marcaBollo" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Canale" type="Canale"/>
	<xsd:complexType name="Canale">
		
		<xsd:sequence>

			<xsd:element name="idPsp" type="id-psp">
				
			</xsd:element>

			<xsd:element name="codCanale" type="String35"/>
			<xsd:element name="codIntermediario" type="String35"/>
			<xsd:element name="tipoVersamento" type="String4"/>
			<xsd:element name="modelloPagamento" type="TwoDigitsDecimal"/>
			<xsd:element minOccurs="0" name="disponibilita" type="String511">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="descrizione" type="String511">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="condizioni" type="String35"/>
			<xsd:element minOccurs="0" name="urlInfo" type="xsd:string"/>

			<xsd:element name="abilitato" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Uo" type="Uo"/>
	<xsd:complexType name="Uo">
		
		<xsd:sequence>
			<xsd:element name="codUo" type="String35"/>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="uoCodiceIdentificativo" type="String35"/>
			<xsd:element minOccurs="0" name="uoDenominazione" type="String70"/>
			<xsd:element minOccurs="0" name="uoIndirizzo" type="String70"/>
			<xsd:element minOccurs="0" name="uoCivico" type="String16"/>
			<xsd:element minOccurs="0" name="uoCap" type="String16"/>
			<xsd:element minOccurs="0" name="uoLocalita" type="String35"/>
			<xsd:element minOccurs="0" name="uoProvincia" type="String35"/>
			<xsd:element minOccurs="0" name="uoNazione" type="String2"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Portale" type="Portale"/>
	<xsd:complexType name="Portale">
		
		<xsd:sequence>
			<xsd:element name="codPortale" type="String35"/>
			<xsd:element name="defaultCallbackURL" type="String512"/>
			<xsd:element name="principal" type="xsd:string"/>
			<xsd:element default="2.1" name="versione" type="String10"/>
			<xsd:element name="trusted" type="xsd:boolean"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Connettore" type="Connettore"/>
	<xsd:complexType name="Connettore">
		
		<xsd:sequence>
			<xsd:element name="codConnettore" type="xsd:string"/>
			<xsd:element name="codProprieta" type="xsd:string"/>
			<xsd:element name="valore" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Intermediario" type="Intermediario"/>
	<xsd:complexType name="Intermediario">
		
		<xsd:sequence>
			<xsd:element name="codIntermediario" type="String35"/>
			<xsd:element name="codConnettorePdd" type="String35"/>
			<xsd:element name="denominazione" type="xsd:string"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Stazione" type="Stazione"/>
	<xsd:complexType name="Stazione">
		
		<xsd:sequence>
			<xsd:element name="idIntermediario" type="id-intermediario">
				
			</xsd:element>
			<xsd:element name="codStazione" type="String35"/>
			<xsd:element name="password" type="String35"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="applicationCode" type="TwoDigitsDecimal"/>

			<xsd:element minOccurs="0" name="ndpStato" type="xsd:positiveInteger"/>
			<xsd:element minOccurs="0" name="ndpOperazione" type="String256"/>
			<xsd:element minOccurs="0" name="ndpDescrizione" type="String1024"/>
			<xsd:element minOccurs="0" name="ndpData" type="xsd:dateTime"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Applicazione" type="Applicazione"/>
	<xsd:complexType name="Applicazione">
		
		<xsd:sequence>
			<xsd:element name="codApplicazione" type="String35"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="principal" type="xsd:string"/>
			<xsd:element name="firmaRicevuta" type="String1"/>
			<xsd:element minOccurs="0" name="codConnettoreEsito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codConnettoreVerifica" type="xsd:string"/>
			<xsd:element default="2.1" name="versione" type="String10"/>
			<xsd:element name="trusted" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="codApplicazioneIuv" type="String3"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="IbanAccredito" type="IbanAccredito"/>
	<xsd:complexType name="IbanAccredito">
		
		<xsd:sequence>
			<xsd:element name="codIban" type="IBANType"/>
			<xsd:element minOccurs="0" name="idSellerBank" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idNegozio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="bicAccredito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ibanAppoggio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="bicAppoggio" type="xsd:string"/>
			<xsd:element name="postale" type="xsd:boolean"/>
			<xsd:element name="attivato" type="xsd:boolean"/>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Tributo" type="Tributo"/>
	<xsd:complexType name="Tributo">
		
		<xsd:sequence>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element name="abilitato" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="idIbanAccredito" type="id-iban-accredito">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoContabilita" type="String1"/>
			<xsd:element minOccurs="0" name="codiceContabilita" type="xsd:string"/>
			<xsd:element name="tipoTributo" type="TipoTributo">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="codTributoIuv" type="String4"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="TipoTributo" type="TipoTributo"/>
	<xsd:complexType name="TipoTributo">
		
		<xsd:sequence>
			<xsd:element name="codTributo" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tipoContabilita" type="String1"/>
			<xsd:element minOccurs="0" name="codContabilita" type="String255"/>
			<xsd:element minOccurs="0" name="codTributoIuv" type="String4"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Audit" type="Audit"/>
	<xsd:complexType name="Audit">
		
		<xsd:sequence>
			<xsd:element name="data" type="xsd:dateTime"/>
			<xsd:element name="idOperatore" type="id-operatore">
				
			</xsd:element>
			<xsd:element name="idOggetto" type="xsd:long"/>
			<xsd:element name="tipoOggetto" type="xsd:string"/>
			<xsd:element name="oggetto" type="xsd:string">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Ruolo" type="Ruolo"/>
	<xsd:complexType name="Ruolo">
		
		<xsd:sequence>
			<xsd:element name="codRuolo" type="String35"/>
			<xsd:element name="descrizione" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ACL" type="ACL"/>
	<xsd:complexType name="ACL">
		
		<xsd:sequence>
			<xsd:element minOccurs="0" name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idPortale" type="id-portale">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idOperatore" type="id-operatore">
				
			</xsd:element>
			<xsd:element name="codTipo" type="String1"/>
			<xsd:element name="diritti" type="xsd:int"/>
			<xsd:element name="codServizio" type="String35"/>
			<xsd:element minOccurs="0" name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idTipoTributo" type="id-tipo-tributo">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Operatore" type="Operatore"/>
	<xsd:complexType name="Operatore">
		
		<xsd:sequence>
			<xsd:element name="principal" type="xsd:string"/>
			<xsd:element name="nome" type="String35"/>
			<xsd:element name="profilo" type="String16"/>
			<xsd:element default="true" name="abilitato" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Versamento -->

	<xsd:element name="IUV" type="IUV"/>
	<xsd:complexType name="IUV">
		
		<xsd:sequence>
			<xsd:element name="prg" type="xsd:long"/>
			<xsd:element name="iuv" type="String35"/>
			<xsd:element name="applicationCode" type="xsd:int"/>
			<xsd:element name="dataGenerazione" type="xsd:date"/>
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			<xsd:element name="tipoIuv" type="String1"/>
			<xsd:element name="idDominio" type="id-dominio">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="codVersamentoEnte" type="String35"/>
			<xsd:element default="0" name="auxDigit" type="Int1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Versamento" type="Versamento"/>
	<xsd:complexType name="Versamento">
		
		<xsd:sequence>
			<xsd:element name="codVersamentoEnte" type="String35"/>

			<xsd:element name="idUo" type="id-uo">
				
			</xsd:element>
			
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="iuv" type="iuv-search">
				
			</xsd:element>
			
			<xsd:element name="importoTotale" type="xsd:double"/>
			<xsd:element name="statoVersamento" type="String35"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string"/>
			<xsd:element name="aggiornabile" type="xsd:boolean">
				
			</xsd:element>
			<xsd:element name="dataCreazione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataScadenza" type="xsd:dateTime"/>
			<xsd:element name="dataOraUltimoAggiornamento" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="causaleVersamento" type="String1024"/>
			<xsd:element name="debitoreIdentificativo" type="String35"/>
			<xsd:element name="debitoreAnagrafica" type="String70"/>
			<xsd:element minOccurs="0" name="debitoreIndirizzo" type="String70"/>
			<xsd:element minOccurs="0" name="debitoreCivico" type="String16"/>
			<xsd:element minOccurs="0" name="debitoreCap" type="String16"/>
			<xsd:element minOccurs="0" name="debitoreLocalita" type="String35"/>
			<xsd:element minOccurs="0" name="debitoreProvincia" type="String35"/>
			<xsd:element minOccurs="0" name="debitoreNazione" type="String2"/>
			<xsd:element minOccurs="0" name="debitoreEmail" type="String256"/>
			<xsd:element minOccurs="0" name="debitoreTelefono" type="String35"/>
			<xsd:element minOccurs="0" name="debitoreCellulare" type="String35"/>
			<xsd:element minOccurs="0" name="debitoreFax" type="String35"/>
			<xsd:element minOccurs="0" name="codLotto" type="String35"/>
			<xsd:element minOccurs="0" name="codVersamentoLotto" type="String35"/>
			<xsd:element minOccurs="0" name="codAnnoTributario" type="String35"/>
			<xsd:element minOccurs="0" name="codBundlekey" type="String256"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Evento" type="Evento"/>
	<xsd:complexType name="Evento">
		
		<xsd:sequence>

			<xsd:element minOccurs="0" name="codDominio" type="String35"/>
			<xsd:element minOccurs="0" name="iuv" type="String35"/>
			<xsd:element minOccurs="0" name="ccp" type="String35"/>
			<xsd:element minOccurs="0" name="codPsp" type="String35"/>
			<xsd:element minOccurs="0" name="tipoVersamento" type="String10"/>
			<xsd:element minOccurs="0" name="componente" type="String4"/>
			<xsd:element minOccurs="0" name="categoriaEvento" type="String1"/>
			<xsd:element minOccurs="0" name="tipoEvento" type="String35"/>
			<xsd:element minOccurs="0" name="sottotipoEvento" type="String35"/>
			<xsd:element minOccurs="0" name="erogatore" type="String35"/>
			<xsd:element minOccurs="0" name="fruitore" type="String35"/>
			<xsd:element minOccurs="0" name="codStazione" type="String35"/>
			<xsd:element minOccurs="0" name="codCanale" type="String35"/>
			<xsd:element minOccurs="0" name="parametri1" type="String512"/>
			<xsd:element minOccurs="0" name="parametri2" type="String512"/>
			<xsd:element minOccurs="0" name="esito" type="String35"/>

			<xsd:element minOccurs="0" name="data1" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="data2" type="xsd:dateTime"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SingoloVersamento" type="SingoloVersamento"/>
	<xsd:complexType name="SingoloVersamento">
		
		<xsd:sequence>
			<xsd:element name="idVersamento" type="id-versamento">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idTributo" type="id-tributo">
				
			</xsd:element>
			<xsd:element name="codSingoloVersamentoEnte" type="String70"/>
			<xsd:element name="statoSingoloVersamento" type="String35"/>
			<xsd:element name="importoSingoloVersamento" type="xsd:double"/>
			<xsd:element minOccurs="0" name="annoRiferimento" type="xsd:int"/>
			<xsd:element minOccurs="0" name="tipoBollo" type="String2">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="hashDocumento" type="String70">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="provinciaResidenza" type="String2">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="idIbanAccredito" type="id-iban-accredito">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoContabilita" type="String1"/>
			<xsd:element minOccurs="0" name="codiceContabilita" type="xsd:string"/>
			<xsd:element minOccurs="0" name="note" type="String512"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Pagamento -->

	<xsd:element name="RPT" type="RPT"/>
	<xsd:complexType name="RPT">
		
		<xsd:sequence>
			<xsd:element name="idVersamento" type="id-versamento">
				
			</xsd:element>

			<xsd:element name="idCanale" type="id-canale">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="idPortale" type="id-portale">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="codCarrello" type="String35"/>

			<xsd:element name="iuv" type="String35"/>
			<xsd:element name="ccp" type="String35"/>
			<xsd:element name="codDominio" type="String35"/>

			<xsd:element name="codMsgRichiesta" type="String35">
				
			</xsd:element>
			<xsd:element name="dataMsgRichiesta" type="xsd:dateTime">
				
			</xsd:element>

			<xsd:element name="stato" type="String35">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="descrizioneStato" type="String512">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="codSessione" type="xsd:string"/>
			<xsd:element minOccurs="0" name="codSessionePortale" type="xsd:string"/>
			<xsd:element minOccurs="0" name="pspRedirectURL" type="String512">
				
			</xsd:element>

			<xsd:element name="xmlRPT" type="xsd:base64Binary"/>
			<xsd:element name="dataAggiornamentoStato" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="callbackURL" type="String512">
				
			</xsd:element>

			<xsd:element name="modelloPagamento" type="String16"/>

			<xsd:element minOccurs="0" name="codMsgRicevuta" type="String35"/>
			<xsd:element minOccurs="0" name="dataMsgRicevuta" type="xsd:dateTime"/>
			<xsd:element name="firmaRicevuta" type="String1"/>
			<xsd:element minOccurs="0" name="codEsitoPagamento" type="OneDigitDecimal">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="importoTotalePagato" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="xmlRT" type="xsd:base64Binary"/>
			<xsd:element name="codStazione" type="String35"/>
			<xsd:element minOccurs="0" name="codTransazioneRPT" type="String36"/>
			<xsd:element minOccurs="0" name="codTransazioneRT" type="String36"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RR" type="RR"/>
	<xsd:complexType name="RR">
		
		<xsd:sequence>
			<xsd:element name="idRpt" type="id-rpt">
				
			</xsd:element>

			<xsd:element name="codDominio" type="String35"/>
			<xsd:element name="iuv" type="String35"/>
			<xsd:element name="ccp" type="String35"/>

			<xsd:element name="codMsgRevoca" type="String35"/>
			<xsd:element name="dataMsgRevoca" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataMsgEsito" type="xsd:dateTime"/>
			<xsd:element name="stato" type="String35"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="String512"/>
			<xsd:element name="importoTotaleRichiesto" type="xsd:double"/>
			<xsd:element minOccurs="0" name="codMsgEsito" type="String35"/>
			<xsd:element minOccurs="0" name="importoTotaleRevocato" type="xsd:decimal"/>
			<xsd:element name="xmlRR" type="xsd:base64Binary"/>
			<xsd:element minOccurs="0" name="xmlER" type="xsd:base64Binary"/>

			<xsd:element minOccurs="0" name="codTransazioneRR" type="String36"/>
			<xsd:element minOccurs="0" name="codTransazioneER" type="String36"/>

		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="Rendicontazione" type="Rendicontazione"/>
	<xsd:complexType name="Rendicontazione">
		
		<xsd:sequence>
			<xsd:element name="iuv" type="String35"/>
			<xsd:element name="iur" type="String35"/>
			<xsd:element minOccurs="0" name="importoPagato" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="esito" type="xsd:positiveInteger"/>
			<xsd:element minOccurs="0" name="data" type="xsd:dateTime"/>
			<xsd:element name="stato" type="String35"/>
			<xsd:element minOccurs="0" name="anomalie" type="String512">
				
			</xsd:element>
			<xsd:element name="idFR" type="id-fr">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idPagamento" type="id-pagamento">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="Pagamento" type="Pagamento"/>
	<xsd:complexType name="Pagamento">
		
		<xsd:sequence>
			<xsd:element minOccurs="0" name="idRPT" type="id-rpt">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idSingoloVersamento" type="id-singolo-versamento">
				
			</xsd:element>
			<xsd:element name="codDominio" type="String35"/>
			<xsd:element name="iuv" type="String35"/>
			<xsd:element name="importoPagato" type="xsd:double"/>
			<xsd:element name="dataAcquisizione" type="xsd:dateTime"/>
			<xsd:element name="iur" type="String35"/>
			<xsd:element name="dataPagamento" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="ibanAccredito" type="IBANType"/>
			<xsd:element minOccurs="0" name="commissioniPsp" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="tipoAllegato" type="String2">
				
			</xsd:element>

			<xsd:element minOccurs="0" name="allegato" type="xsd:base64Binary"/>

			<xsd:element minOccurs="0" name="idRr" type="id-rr">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="dataAcquisizioneRevoca" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="causaleRevoca" type="String140"/>
			<xsd:element minOccurs="0" name="datiRevoca" type="String140"/>
			<xsd:element minOccurs="0" name="importoRevocato" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="esitoRevoca" type="String140"/>
			<xsd:element minOccurs="0" name="datiEsitoRevoca" type="String140"/>
			<xsd:element minOccurs="0" name="stato" type="String35"/>
			<xsd:element minOccurs="0" name="idIncasso" type="id-incasso">
				
			</xsd:element>
			

		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Notifica" type="Notifica"/>
	<xsd:complexType name="Notifica">
		
		<xsd:sequence>
			
			<xsd:element name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="idRpt" type="id-rpt">
				
			</xsd:element>
			
			<xsd:element minOccurs="0" name="idRr" type="id-rr">
				
			</xsd:element>
			
			<xsd:element name="tipoEsito" type="String16"/>
			<xsd:element name="dataCreazione" type="xsd:dateTime"/>
			<xsd:element name="stato" type="String16"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string"/>
			<xsd:element name="dataAggiornamentoStato" type="xsd:dateTime"/>
			<xsd:element name="dataProssimaSpedizione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="tentativiSpedizione" type="xsd:unsignedLong"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Incasso" type="Incasso"/>
	<xsd:complexType name="Incasso">
		
		<xsd:sequence>
			
			<xsd:element name="trn" type="String35"/>
			<xsd:element name="codDominio" type="String35"/>
			<xsd:element name="causale" type="String512"/>
			<xsd:element name="importo" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="dataValuta" type="xsd:date"/>
			<xsd:element minOccurs="0" name="dataContabile" type="xsd:date"/>
			<xsd:element name="dataOraIncasso" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="nomeDispositivo" type="String512"/>
			<xsd:element minOccurs="0" name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Rendicontazioni -->

	<xsd:element name="FR" type="FR"/>
	<xsd:complexType name="FR">
		
		<xsd:sequence>
			<xsd:element name="codPsp" type="String35"/>
			<xsd:element name="codDominio" type="String35"/>

			<xsd:element name="codFlusso" type="String35"/>
			<xsd:element name="stato" type="String35"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="iur" type="String35"/>
			<xsd:element minOccurs="0" name="dataOraFlusso" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="dataRegolamento" type="xsd:dateTime"/>
			<xsd:element name="dataAcquisizione" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="numeroPagamenti" type="xsd:long"/>
			<xsd:element minOccurs="0" name="importoTotalePagamenti" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="codBicRiversamento" type="String35"/>
			<xsd:element name="xml" type="xsd:base64Binary"/>

			<xsd:element minOccurs="0" name="idPagamento" type="id-pagamento">
				
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RendicontazionePagamento" type="RendicontazionePagamento"/>
	<xsd:complexType name="RendicontazionePagamento">
		
		<xsd:sequence>
			<xsd:element ref="FR"/>
			<xsd:element ref="Rendicontazione"/>
			<xsd:element ref="Pagamento"/>
			<xsd:element ref="SingoloVersamento"/>
			<xsd:element ref="Versamento"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Batch" type="Batch"/>
	<xsd:complexType name="Batch">
		
		<xsd:sequence>
			<xsd:element name="codBatch" type="String255"/>
			<xsd:element minOccurs="0" name="nodo" type="xsd:positiveInteger"/>
			<xsd:element minOccurs="0" name="inizio" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="aggiornamento" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="id-messaggio">
		
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="counter" type="xsd:long">
					
				</xsd:element>
				<xsd:element name="protocollo" type="xsd:string">
					
				</xsd:element>
				<xsd:element name="info-associata" type="xsd:string">
					
				</xsd:element>
				<xsd:element minOccurs="0" name="ora_registrazione" type="xsd:dateTime">
					
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Operazione" type="Operazione"/>
	<xsd:complexType name="Operazione">
		
		<xsd:sequence>
			<xsd:element name="idTracciato" type="id-tracciato">
				
			</xsd:element>
			<xsd:element name="tipoOperazione" type="xsd:string"/>
			<xsd:element name="lineaElaborazione" type="xsd:long"/>
			<xsd:element name="stato" type="StatoOperazioneType"/>
			<xsd:element name="datiRichiesta" type="xsd:base64Binary"/>
			<xsd:element minOccurs="0" name="datiRisposta" type="xsd:base64Binary"/>
			<xsd:element minOccurs="0" name="dettaglioEsito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idApplicazione" type="id-applicazione">
				
			</xsd:element>
			<xsd:element minOccurs="0" name="codVersamentoEnte" type="xsd:string"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Tracciato" type="Tracciato"/>
	<xsd:complexType name="Tracciato">
		
		<xsd:sequence>
			<xsd:element name="idOperatore" type="id-operatore">
				
			</xsd:element>
			<xsd:element name="dataCaricamento" type="xsd:dateTime"/>
			<xsd:element name="dataUltimoAggiornamento" type="xsd:dateTime"/>
			<xsd:element name="stato" type="StatoTracciatoType"/>
			<xsd:element name="lineaElaborazione" type="xsd:long"/>
			<xsd:element minOccurs="0" name="descrizioneStato" type="String1024"/>
			<xsd:element name="numLineeTotali" type="xsd:long"/>
			<xsd:element name="numOperazioniOk" type="xsd:long"/>
			<xsd:element name="numOperazioniKo" type="xsd:long"/>
			<xsd:element name="nomeFile" type="xsd:string"/>
			<xsd:element name="rawDataRichiesta" type="xsd:base64Binary"/>
			<xsd:element minOccurs="0" name="rawDataRisposta" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="StatoTracciatoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ANNULLATO"/>
			<xsd:enumeration value="NUOVO"/>
			<xsd:enumeration value="IN_CARICAMENTO"/>
			<xsd:enumeration value="CARICAMENTO_OK"/>
			<xsd:enumeration value="CARICAMENTO_KO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="StatoOperazioneType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NON_VALIDO"/>
			<xsd:enumeration value="ESEGUITO_OK"/>
			<xsd:enumeration value="ESEGUITO_KO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>