jars/pagopa-beans/src/main/resources/wsdl/NodoPerPaAvvisiDigitali.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta dal p2g per l'invio di un avviso di pagamento. -->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:sac="http://ws.pagamenti.telematici.gov/"
                  xmlns:sachead="http://ws.pagamenti.telematici.gov/sachead"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://PuntoAccessoPA.spcoop.gov.it/servizi/AvvisiDigitali"
                  targetNamespace="http://PuntoAccessoPA.spcoop.gov.it/servizi/AvvisiDigitali">

    <wsdl:types>
        <xsd:schema version="2.1" targetNamespace="http://ws.pagamenti.telematici.gov/sachead">

            <xsd:simpleType name="stText35">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="intestazionePPT">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identificativoIntermediarioPA" type="sachead:stText35"/>
                        <xsd:element name="identificativoStazioneIntermediarioPA" type="sachead:stText35"/>
                        <xsd:element name="identificativoDominio" type="sachead:stText35"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>

        <xsd:schema version="1.0" targetNamespace="http://ws.pagamenti.telematici.gov/">

            <xsd:include schemaLocation="jars/pagopa-beans/src/main/resources/xsd/comuni/avvisi-digitali-1.0.xsd"/>
            
            <xsd:annotation>
				<xsd:appinfo xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">
					<jaxb:schemaBindings>
						<jaxb:package name="gov.telematici.pagamenti.ws.avvisi_digitali" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
            
            <xsd:complexType name="ctNodoInviaAvvisoDigitale">
                <xsd:sequence>
                    <xsd:element name="password" type="sac:stText35"/>
                    <xsd:element name="avvisoDigitaleWS" type="sac:ctAvvisoDigitale"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctNodoInviaAvvisoDigitaleRisposta">
                <xsd:complexContent>
                    <xsd:extension base="sac:ctRisposta">
                        <xsd:sequence>
                            <xsd:element name="esitoOperazione" type="sac:stEsitoOperazione"/>
                            <xsd:element name="esitoAvvisoDigitaleWS" type="sac:ctEsitoAvvisoDigitale" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="nodoInviaAvvisoDigitale" type="sac:ctNodoInviaAvvisoDigitale"/>
            <xsd:element name="nodoInviaAvvisoDigitaleRisposta" type="sac:ctNodoInviaAvvisoDigitaleRisposta"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="nodoInviaAvvisoDigitale">
        <wsdl:part name="header" element="sachead:intestazionePPT"/>
        <wsdl:part name="bodyrichiesta" element="sac:nodoInviaAvvisoDigitale"/>
    </wsdl:message>
    <wsdl:message name="nodoInviaAvvisoDigitaleRisposta">
        <wsdl:part name="bodyrisposta" element="sac:nodoInviaAvvisoDigitaleRisposta"/>
    </wsdl:message>

    <wsdl:portType name="NodoInviaAvvisoDigitale">
        <wsdl:operation name="nodoInviaAvvisoDigitale">
            <wsdl:input message="tns:nodoInviaAvvisoDigitale"
                        wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaAvvisoDigitale"/>
            <wsdl:output message="tns:nodoInviaAvvisoDigitaleRisposta"
                         wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaAvvisoDigitaleRisposta"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="NodoInviaAvvisoDigitaleBinding" type="tns:NodoInviaAvvisoDigitale">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nodoInviaAvvisoDigitale">
            <soap:operation soapAction="nodoInviaAvvisoDigitale" />
            <wsdl:input>
                <soap:header message="tns:nodoInviaAvvisoDigitale" part="header" use="literal" />
                <soap:body parts="bodyrichiesta" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NodoInviaAvvisoDigitaleService">
        <wsdl:port name="PPTPort" binding="tns:NodoInviaAvvisoDigitaleBinding">
            <soap:address location="http://PuntoAccessoPA.spcoop.gov.it/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
