jars/pagopa-beans/src/main/resources/wsdl/NodoPerPa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti
  per la ricezione delle RPT.
  Versione 6.2.0 di RPT/RT.
  Renaming delle primitive.
-->
<wsdl:definitions
		xmlns:ppt="http://ws.pagamenti.telematici.gov/"
		xmlns:ppthead="http://ws.pagamenti.telematici.gov/ppthead"
		xmlns:tns="http://NodoPagamentiSPC.spcoop.gov.it/servizi/PagamentiTelematiciRPT"
		xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
		xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		name="PagamentiTelematiciRPTservice"
		targetNamespace="http://NodoPagamentiSPC.spcoop.gov.it/servizi/PagamentiTelematiciRPT"
>
	<wsdl:types>
		<xsd:schema version="2.1.2" targetNamespace="http://ws.pagamenti.telematici.gov/ppthead">
			<xsd:import schemaLocation="../xsd/comuni/soap_envelope.xsd" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
			<xsd:annotation>
				<xsd:appinfo xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">
					<jaxb:schemaBindings>
						<jaxb:package name="gov.telematici.pagamenti.ws.rpt.ppthead" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:simpleType name="stText35">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="intestazionePPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificativoIntermediarioPA" type="ppthead:stText35" />
						<xsd:element name="identificativoStazioneIntermediarioPA" type="ppthead:stText35" />
						<xsd:element name="identificativoDominio" type="ppthead:stText35" />
						<xsd:element name="identificativoUnivocoVersamento" type="ppthead:stText35" />
						<xsd:element name="codiceContestoPagamento" type="ppthead:stText35" />
					</xsd:sequence>
					<xsd:attribute ref="soapenv:actor" use="optional" />
					<xsd:attribute ref="soapenv:mustUnderstand" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="intestazioneCarrelloPPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificativoIntermediarioPA" type="ppthead:stText35" />
						<xsd:element name="identificativoStazioneIntermediarioPA" type="ppthead:stText35" />
						<xsd:element name="identificativoCarrello" type="ppthead:stText35" />
					</xsd:sequence>
					<xsd:attribute ref="soapenv:actor" use="optional" />
					<xsd:attribute ref="soapenv:mustUnderstand" use="optional" />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema version="1.0" targetNamespace="http://ws.pagamenti.telematici.gov/">
			<xsd:annotation>
				<xsd:appinfo xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" jaxb:version="3.0">
					<jaxb:schemaBindings>
						<jaxb:package name="gov.telematici.pagamenti.ws.rpt" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:simpleType name="stText35">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stText40">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stPassword">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="8" />
					<xsd:maxLength value="15" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stEffettuazioneScelta">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SI" />
					<xsd:enumeration value="NO" />
					<xsd:enumeration value="PO" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stTipoVersamento">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BBT" /> <!-- Bonifico Bancario di Tesoreria -->
					<xsd:enumeration value="BP" /> <!-- Bollettino Postale -->
					<xsd:enumeration value="AD" /> <!-- Addebito Diretto -->
					<xsd:enumeration value="CP" /> <!-- Carta di Pagamento -->
					<xsd:enumeration value="PO" /> <!-- Pagamento attivato presso PSP  -->
					<xsd:enumeration value="OBEP" /> <!-- Online Banking Electronic Payment -->
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="stConvenzione">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="5" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="stZeroUno">
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="0"/>
					<xsd:enumeration value="1"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:element name="nodoInviaRPT" type="ppt:nodoInviaRPT" />
			<xsd:element name="nodoInviaRPTRisposta" type="ppt:nodoInviaRPTRisposta" />

			<xsd:element name="nodoInviaCarrelloRPT" type="ppt:nodoInviaCarrelloRPT" />
			<xsd:element name="nodoInviaCarrelloRPTRisposta" type="ppt:nodoInviaCarrelloRPTRisposta" />

			<xsd:element name="nodoChiediElencoFlussiRendicontazione" type="ppt:nodoChiediElencoFlussiRendicontazione" />
			<xsd:element name="nodoChiediElencoFlussiRendicontazioneRisposta" type="ppt:nodoChiediElencoFlussiRendicontazioneRisposta" />

			<xsd:element name="nodoChiediFlussoRendicontazione" type="ppt:nodoChiediFlussoRendicontazione" />
			<xsd:element name="nodoChiediFlussoRendicontazioneRisposta" type="ppt:nodoChiediFlussoRendicontazioneRisposta" />

			<xsd:complexType name="risposta">
				<xsd:sequence>
					<xsd:element name="fault" type="ppt:faultBean" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="faultBean">
				<xsd:sequence>
					<xsd:element name="faultCode" type="xsd:string" />
					<xsd:element name="faultString" type="xsd:string" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" minOccurs="0" />
					<xsd:element name="serial" type="xsd:int" minOccurs="0" />
					<xsd:element name="originalFaultCode" type="xsd:string"  minOccurs="0"  />
					<xsd:element name="originalFaultString" type="xsd:string"  minOccurs="0"  />
					<xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoInviaRPT">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" />
					<xsd:element name="identificativoPSP" type="ppt:stText35" />
					<xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35"/>
					<xsd:element name="identificativoCanale" type="ppt:stText35"/>
					<xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
					<xsd:element name="rpt" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoInviaRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="1" />
							<xsd:element name="redirect" type="xsd:int" default="0" minOccurs="0" />
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="nodoInviaCarrelloRPT">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" />
					<xsd:element name="identificativoPSP" type="ppt:stText35" />
					<xsd:element name="identificativoIntermediarioPSP" type="ppt:stText35" />
					<xsd:element name="identificativoCanale" type="ppt:stText35" />
					<xsd:element name="listaRPT" type="ppt:tipoListaRPT" />
					<xsd:element name="requireLightPayment" type="ppt:stZeroUno" minOccurs="0"/>
					<xsd:element name="codiceConvenzione" type="ppt:stConvenzione" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="tipoListaRPT">
				<xsd:sequence>
					<xsd:element name="elementoListaRPT" type="ppt:tipoElementoListaRPT" minOccurs="1" maxOccurs="5" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="tipoElementoListaRPT">
				<xsd:sequence>
					<xsd:element name="identificativoDominio" type="ppt:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
					<xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
					<xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
					<xsd:element name="rpt" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoInviaCarrelloRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esitoComplessivoOperazione" type="xsd:string" />
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" />
							<xsd:element name="listaErroriRPT" type="ppt:listaErroriRPT" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="listaErroriRPT">
				<xsd:sequence>
					<xsd:element name="fault" type="ppt:faultBean" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoChiediElencoFlussiRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="ppt:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="ppt:stText35" />
					<xsd:element name="password" type="ppt:stPassword" />
					<xsd:element name="identificativoDominio" type="ppt:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="ppt:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoChiediElencoFlussiRendicontazioneRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="elencoFlussiRendicontazione" type="ppt:tipoElencoFlussiRendicontazione" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="tipoElencoFlussiRendicontazione">
				<xsd:sequence>
					<xsd:element name="totRestituiti" type="xsd:int" />
					<xsd:element name="idRendicontazione" type="ppt:tipoIdRendicontazione" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="tipoIdRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoFlusso" type="xsd:string" />
					<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoChiediFlussoRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="ppt:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="ppt:stText35" />
					<xsd:element name="password" type="ppt:stPassword" />
					<xsd:element name="identificativoDominio" type="ppt:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="ppt:stText35" minOccurs="0" />
					<xsd:element name="identificativoFlusso" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="nodoChiediFlussoRendicontazioneRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="xmlRendicontazione" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="nodoInviaRPT">
		<wsdl:part name="bodyrichiesta" element="ppt:nodoInviaRPT">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPTResponse">
		<wsdl:part name="bodyrisposta" element="ppt:nodoInviaRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPT">
		<wsdl:part name="bodyrichiesta" element="ppt:nodoInviaCarrelloRPT">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazioneCarrelloPPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPTResponse">
		<wsdl:part name="bodyrisposta" element="ppt:nodoInviaCarrelloRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoFlussiRendicontazione">
		<wsdl:part name="parameters" element="ppt:nodoChiediElencoFlussiRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoFlussiRendicontazioneResponse">
		<wsdl:part name="parameters" element="ppt:nodoChiediElencoFlussiRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediFlussoRendicontazione">
		<wsdl:part name="parameters" element="ppt:nodoChiediFlussoRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediFlussoRendicontazioneResponse">
		<wsdl:part name="parameters" element="ppt:nodoChiediFlussoRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:portType name="PagamentiTelematiciRPT">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		<wsdl:operation name="nodoInviaRPT">
			<wsdl:input name="nodoInviaRPT" message="tns:nodoInviaRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse" message="tns:nodoInviaRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<wsdl:input name="nodoInviaCarrelloRPT" message="tns:nodoInviaCarrelloRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse" message="tns:nodoInviaCarrelloRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione" message="tns:nodoChiediElencoFlussiRendicontazione" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRichiesta" />
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse" message="tns:nodoChiediElencoFlussiRendicontazioneResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<wsdl:input name="nodoChiediFlussoRendicontazione" message="tns:nodoChiediFlussoRendicontazione" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRichiesta" />
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse" message="tns:nodoChiediFlussoRendicontazioneResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRisposta" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciRPTbinding" type="tns:PagamentiTelematiciRPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nodoInviaRPT">
			<soap:operation soapAction="nodoInviaRPT" style="document" />
			<wsdl:input name="nodoInviaRPT">
				<soap:header message="tns:nodoInviaRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<soap:operation soapAction="nodoInviaCarrelloRPT" style="document" />
			<wsdl:input name="nodoInviaCarrelloRPT">
				<soap:header message="tns:nodoInviaCarrelloRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<soap:operation soapAction="nodoChiediElencoFlussiRendicontazione" style="document" />
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<soap:operation soapAction="nodoChiediFlussoRendicontazione" style="document" />
			<wsdl:input name="nodoChiediFlussoRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagamentiTelematiciRPTservice">
		<wsdl:port name="PagamentiTelematiciRPTPort" binding="tns:PagamentiTelematiciRPTbinding">
			<soap:address location="http://NodoPagamentiSPC.spcoop.gov.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
