jars/pagopa-beans/src/main/resources/wsdl/PaPerNodoChiediElencoAvvisiDigitali.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti Telematici per avvisi pull . -->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:sac="http://ws.pagamenti.telematici.gov/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://PuntoAccessoPA.spcoop.gov.it/servizi/ChiediElencoAvvisiDigitali"
                  targetNamespace="http://PuntoAccessoPA.spcoop.gov.it/servizi/ChiediElencoAvvisiDigitali">

    <wsdl:types>
        <xsd:schema version="2.1" targetNamespace="http://ws.pagamenti.telematici.gov/">
			<xsd:annotation>
				<xsd:appinfo xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">
					<jaxb:schemaBindings>
						<jaxb:package name="gov.telematici.pagamenti.ws.chiedi_elenco_avvisi" />
					</jaxb:schemaBindings>
				</xsd:appinfo>
			</xsd:annotation>
            <xsd:include schemaLocation="jars/pagopa-beans/src/main/resources/xsd/comuni/avvisi-digitali-1.0.xsd"/>

            <xsd:element name="intestazionePPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identificativoIntermediarioPA" type="sac:stText35"/>
                        <xsd:element name="identificativoStazioneIntermediarioPA" type="sac:stText35"/>
                        <xsd:element name="identificativoDominio" type="sac:stText35"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="ctElencoAvvisiDigitali">
                <xsd:sequence>
                    <xsd:element name="avvisoDigitale" type="sac:ctAvvisoDigitale" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctPaaChiediElencoAvvisiDigitali">
                <xsd:sequence>
                    <xsd:element name="identificativoPSP" type="sac:stText35"/>
                    <xsd:element name="codiceFiscaleDebitore" type="sac:stText35"/>
                    <xsd:element name="codiceServizio" type="sac:stCodiceServizio" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="periodoRiferimento" type="sac:ctPeriodoRiferimento" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ctPaaChiediElencoAvvisiDigitaliRisposta">
                <xsd:complexContent>
                    <xsd:extension base="sac:ctRisposta">
                        <xsd:sequence>
                            <xsd:element name="esitoOperazione" type="sac:stEsitoOperazione"/>
                            <xsd:element name="elencoAvvisiDigitali" type="sac:ctElencoAvvisiDigitali"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <!-- Wrapper Elements -->
            <xsd:element name="paaChiediElencoAvvisiDigitali" type="sac:ctPaaChiediElencoAvvisiDigitali" />
            <xsd:element name="paaChiediElencoAvvisiDigitaliRisposta" type="sac:ctPaaChiediElencoAvvisiDigitaliRisposta"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="paaChiediElencoAvvisiDigitali">
        <wsdl:part name="bodyrichiesta" element="sac:paaChiediElencoAvvisiDigitali"/>
    </wsdl:message>
    <wsdl:message name="paaChiediElencoAvvisiDigitaliRisposta">
        <wsdl:part name="bodyrisposta" element="sac:paaChiediElencoAvvisiDigitaliRisposta"/>
    </wsdl:message>

    <wsdl:portType name="ChiediElencoAvvisiDigitali">
        <wsdl:operation name="paaChiediElencoAvvisiDigitali">
            <wsdl:input message="tns:paaChiediElencoAvvisiDigitali"
                        wsam:Action="http://ws.pagamenti.telematici.gov/PPT/paaChiediElencoAvvisiDigitali"/>
            <wsdl:output message="tns:paaChiediElencoAvvisiDigitaliRisposta"
                         wsam:Action="http://ws.pagamenti.telematici.gov/PPT/paaChiediElencoAvvisiDigitaliRisposta"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ChiediElencoAvvisiDigitaliBinding" type="tns:ChiediElencoAvvisiDigitali">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="paaChiediElencoAvvisiDigitali">
            <soap:operation soapAction="paaChiediElencoAvvisiDigitali"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ChiediElencoAvvisiDigitaliService">
        <wsdl:port name="PPTPort" binding="tns:ChiediElencoAvvisiDigitaliBinding">
            <soap:address location="http://PuntoAccessoPA.spcoop.gov.it/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
