govpay-ejb/src/main/resources/xsd/RR_ER_6_0_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:pay_i="http://www.digitpa.gov.it/schemas/2011/Pagamenti/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.digitpa.gov.it/schemas/2011/Pagamenti/"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="6.0.1">
	<xsd:annotation>
		<xsd:documentation>Richiesta Revoca (RR) ed Esito Revoca (ER)
		</xsd:documentation>
		<xsd:documentation>XSD RPT/RT relativo al documento base "SPECIFICHE
			ATTUATIVE DEL NODO DEI PAGAMENTI-SPC versione 1.6"
		</xsd:documentation>
	</xsd:annotation>


	<!-- **** BEGIN: tipi semplici **** -->

	<xsd:simpleType name="stISODate">
		<xsd:restriction base="xsd:date" />
	</xsd:simpleType>

	<xsd:simpleType name="stISODateTime">
		<xsd:restriction base="xsd:dateTime" />
	</xsd:simpleType>

	<xsd:simpleType name="stText16">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="16" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText35">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText70">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="70" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText140">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="140" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stImporto">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.00" />
			<xsd:maxInclusive value="99999999.99" />
			<xsd:fractionDigits value="2" />
			<xsd:totalDigits value="12" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stNazione">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2,2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoIdentificativoUnivoco">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="G" /><!-- Persona Giuridica -->
			<xsd:enumeration value="A" /><!-- Codice ABI -->
			<xsd:enumeration value="B" /><!-- Codice BIC -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoIdentificativoUnivocoPersFG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="F" /><!-- Persona Fisica -->
			<xsd:enumeration value="G" /><!-- Persona Giuridica -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoIdentificativoUnivocoPersG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="G" /><!-- Persona Giuridica -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stBICIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stEMail">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="[A-Za-z0-9_]+([\-\+\.'][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*" />
			<xsd:maxLength value="256" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- **** END: tipi semplici **** -->

	<!-- **** BEGIN: tipi complessi **** -->

	<!-- Dominio -->
	<xsd:complexType name="ctDominio">
		<xsd:sequence>
			<xsd:element name="identificativoDominio" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico contenente il codice fiscale
						della struttura che invia la richiesta di pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoStazioneRichiedente"
				type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifica la stazione richiedente il pagamento.
						Nella fattispecie assume il codice del PdA richiedente o quello
						del Portale del ministero.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- **** BEGIN: Identificativi univoci dei soggetti -->
	<xsd:complexType name="ctIdentificativoUnivoco">
		<xsd:sequence>
			<xsd:element name="tipoIdentificativoUnivoco" type="pay_i:stTipoIdentificativoUnivoco"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che indica la natura del
						soggetto, può assumere i seguenti valori:
					</xsd:documentation>
					<xsd:documentation>G - Persona Giuridica</xsd:documentation>
					<xsd:documentation>A - Codice ABI</xsd:documentation>
					<xsd:documentation>B - Codice BIC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceIdentificativoUnivoco" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che può contenere il codice
						fiscale o la partita IVA del soggetto o il codice ABI o il codice
						BIC
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctIdentificativoUnivocoPersonaFG">
		<xsd:sequence>
			<xsd:element name="tipoIdentificativoUnivoco"
				type="pay_i:stTipoIdentificativoUnivocoPersFG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che indica la natura del
						soggetto, può assumere i seguenti valori:
					</xsd:documentation>
					<xsd:documentation>F - Persona Fisica</xsd:documentation>
					<xsd:documentation>G - Persona Giuridica</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceIdentificativoUnivoco" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che può contenere il codice
						fiscale o, in alternativa, la partita IVA del soggetto.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctIdentificativoUnivocoPersonaG">
		<xsd:sequence>
			<xsd:element name="tipoIdentificativoUnivoco"
				type="pay_i:stTipoIdentificativoUnivocoPersG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che indica la natura del
						soggetto, può assumere i seguenti valori:
					</xsd:documentation>
					<xsd:documentation>G - Persona Giuridica</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceIdentificativoUnivoco" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che può contenere il codice
						fiscale o, in alternativa, la partita IVA del soggetto.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- **** END: Identificativi univoci dei soggetti -->

	<!-- **** BEGIN: Soggetti -->
	<!-- Soggetto Versante -->
	<xsd:complexType name="ctSoggettoVersante">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoVersante"
				type="pay_i:ctIdentificativoUnivocoPersonaFG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anagraficaVersante" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica il nominativo o la ragione sociale del
						versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoVersante" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoVersante" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capVersante" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP del versante.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaVersante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaVersante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneVersante" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione del versante secondo lo
						standard ISO 3166.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="e-mailVersante" type="pay_i:stEMail"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indirizzo di posta elettronica del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Soggetto Pagatore -->
	<xsd:complexType name="ctSoggettoPagatore">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoPagatore"
				type="pay_i:ctIdentificativoUnivocoPersonaFG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anagraficaPagatore" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica il nominativo o la ragione sociale del
						pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoPagatore" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoPagatore" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capPagatore" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP del pagatore.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaPagatore" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaPagatore" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazionePagatore" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione del pagatore secondo lo
						standard ISO 3166.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="e-mailPagatore" type="pay_i:stEMail"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indirizzo di posta elettronica del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Ente Beneficiario -->
	<xsd:complexType name="ctEnteBeneficiario">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoBeneficiario"
				type="pay_i:ctIdentificativoUnivocoPersonaG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>tipo_identificativo_univoco - se presente deve
						assumere il valore ‘G’, Persona Giuridica.
					</xsd:documentation>
					<xsd:documentation>codice_identificativo_univoco - contenente il
						codice fiscale dell’amministrazione destinataria del pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denominazioneBeneficiario" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione della PA.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceUnitOperBeneficiario" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denomUnitOperBeneficiario" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoBeneficiario" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoBeneficiario" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico del beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capBeneficiario" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaBeneficiario" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaBeneficiario" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneBeneficiario" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione dell’ente beneficiario
						secondo lo standard ISO 3166.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Istituto Mittente -->
	<xsd:complexType name="ctIstitutoAttestante">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoMittente" type="pay_i:ctIdentificativoUnivoco"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale dell’Istituto Mittente il
						pagamento.
					</xsd:documentation>
					<xsd:documentation>tipo_identificativo_univoco - deve assumere il
						valore ‘G’, Persona Giuridica.
					</xsd:documentation>
					<xsd:documentation>codice_identificativo_univoco - Campo
						alfanumerico che può contenere il codice fiscale o, in
						alternativa, la partita IVA dell’Istituto Mittente il pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denominazioneMittente" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione dell’Istituto
						finanziario che emette il documento di attestazione dell’avvenuto
						versamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceUnitOperMittente" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice dell’unità operativa che
						rilascia la quietanza.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denomUnitOperMittente" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione dell’unità operativa
						Mittente.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoMittente" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo del mittente.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoMittente" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico dell'Mittente.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capMittente" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP del mittente.</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaMittente" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località del mittente.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaMittente" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del mittente.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneMittente" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione del mittente secondo lo
						standard ISO 3166.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- **** END: Soggetti -->

	<xsd:complexType name="ctDatiRevoca">
		<xsd:sequence>
			<xsd:element name="importoTotaleRevocato" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma revocata.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoVersamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del prestatore di servizi di pagamento, così come presente nella
						Richiesta di Pagamento Telematico (RPT) cui si riferisce il
						messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceContestoPagamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del prestatore di servizi di pagamento, così come presente nella
						Richiesta di Pagamento Telematico (RPT) cui si riferisce il
						messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiSingolaRevoca" type="pay_i:ctDatiSingolaRevoca"
				minOccurs="0" maxOccurs="5">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “dati delle singole revoche, da un
						minimo di uno ad un massimo di 5 occorrenze di versamento, facenti
						capo ad un unico identificativoUnivocoVersamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctDatiEsitoRevoca">
		<xsd:sequence>
			<xsd:element name="importoTotaleRevocato" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma revocata.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoVersamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del prestatore di servizi di pagamento, così come presente nella
						Richiesta di Pagamento Telematico (RPT) cui si riferisce il
						messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceContestoPagamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del prestatore di servizi di pagamento, così come presente nella
						Richiesta di Pagamento Telematico (RPT) cui si riferisce il
						messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiSingolaRevoca" type="pay_i:ctDatiSingoloEsitoRevoca"
				minOccurs="0" maxOccurs="5">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “dati delle singole revoche, da un
						minimo di uno ad un massimo di 5 occorrenze di versamento, facenti
						capo ad un unico identificativoUnivocoVersamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Dati singola revoca -->
	<xsd:complexType name="ctDatiSingolaRevoca">
		<xsd:sequence>
			<xsd:element name="singoloImportoRevocato" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma revocata.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoRiscossione"
				type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riferimento univoco dell’operazione assegnato al
						versamento dal Prestatore dei servizi di Pagamento. Può coincidere
						con il CRO nel caso di Bonifico Bancario o con il CODELINE nel
						caso di bollettino postale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="causaleRevoca" type="pay_i:stText140"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiAggiuntiviRevoca" type="pay_i:stText140"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Dati singolo esito revoca -->
	<xsd:complexType name="ctDatiSingoloEsitoRevoca">
		<xsd:sequence>
			<xsd:element name="singoloImportoRevocato" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma revocata.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoRiscossione"
				type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riferimento univoco dell’operazione assegnato al
						versamento dal Prestatore dei servizi di Pagamento. Può coincidere
						con il CRO nel caso di Bonifico Bancario o con il CODELINE nel
						caso di bollettino postale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="causaleEsito" type="pay_i:stText140"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiAggiuntiviEsito" type="pay_i:stText140"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Richiesta Revoca (RR) -->
	<xsd:complexType name="ctRichiestaRevoca">
		<xsd:sequence>
			<xsd:element name="versioneOggetto" type="pay_i:stText16"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta la stessa informazione presente nel dato
						“versioneOggetto” della Richiesta di Pagamento Telematico (RPT).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dominio" type="pay_i:ctDominio"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Dominio” della Richiesta di Pagamento Telematico (RPT)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoMessaggioRevoca" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificativo legato alla trasmissione della
						quietanza telematica.
					</xsd:documentation>
					<xsd:documentation>Deve essere univoco nell’ambito della stessa
						data riferita all’elemento dataMessaggioRicevuta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataOraMessaggioRevoca" type="pay_i:stISODateTime"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data del messaggio di quietanza,
						secondo il formato ISO 8601
					</xsd:documentation>
					<xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="istitutoAttestante" type="pay_i:ctIstitutoAttestante"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione relativa al soggetto Prestatore dei
						servizi di Pagamento che emette il documento di richiesta di
						revoca.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoVersante" type="pay_i:ctSoggettoVersante"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Soggetto Versante” della Richiesta di Pagamento Telematico
						(RPT) cui si riferisce il messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoPagatore" type="pay_i:ctSoggettoPagatore"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Soggetto Pagatore” della Richiesta di Pagamento Telematico
						(RPT) cui si riferisce il messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiRevoca" type="pay_i:ctDatiRevoca"
				minOccurs="1">
				<xsd:annotation xml:base="pay_i:stImporto">
					<xsd:documentation>Aggregazione “dati della richista di revoca”
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Esito Revoca (ER) -->
	<xsd:complexType name="ctEsitoRevoca">
		<xsd:sequence>
			<xsd:element name="versioneOggetto" type="pay_i:stText16"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta la stessa informazione presente nel dato
						“versioneOggetto” della Richiesta di Pagamento Telematico (RPT).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dominio" type="pay_i:ctDominio"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Dominio” della Richiesta di Pagamento Telematico (RPT)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoMessaggioEsito" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificativo legato alla trasmissione della
						quietanza telematica.
					</xsd:documentation>
					<xsd:documentation>Deve essere univoco nell’ambito della stessa
						data riferita all’elemento dataMessaggioRicevuta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataOraMessaggioEsito" type="pay_i:stISODateTime"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data del messaggio di quietanza,
						secondo il formato ISO 8601
					</xsd:documentation>
					<xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="riferimentoMessaggioRevoca" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Con riferimento al messaggio di Ricevuta
						Telematica (RT) l’elemento contiene il dato
						identificativoMessaggioRichiesta legato alla trasmissione della
						Richiesta di Pagamento Telematico (RPT).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="riferimentoDataRevoca" type="pay_i:stISODate"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data secondo il formato ISO 8601
						[YYYY]-[MM]-[DD] cui si riferisce la generazione del dato
						riferimentoMessaggioRichiesta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="istitutoAttestante" type="pay_i:ctIstitutoAttestante"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione relativa al soggetto Prestatore dei
						servizi di Pagamento che emette il documento di richiesta di
						revoca.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoVersante" type="pay_i:ctSoggettoVersante"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Soggetto Versante” della Richiesta di Pagamento Telematico
						(RPT) cui si riferisce il messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoPagatore" type="pay_i:ctSoggettoPagatore"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Soggetto Pagatore” della Richiesta di Pagamento Telematico
						(RPT) cui si riferisce il messaggio di Ricevuta Telematica.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiRevoca" type="pay_i:ctDatiEsitoRevoca"
				minOccurs="1">
				<xsd:annotation xml:base="pay_i:stImporto">
					<xsd:documentation>Aggregazione “dati del versamento”
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- **** END: tipi complessi **** -->


	<!-- **** BEGIN: elementi **** -->
	<xsd:element name="RR" type="pay_i:ctRichiestaRevoca">
		<xsd:annotation>
			<xsd:documentation>Richiesta Revoca (RR)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="ER" type="pay_i:ctEsitoRevoca">
		<xsd:annotation>
			<xsd:documentation>Esito Revoca (ER)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- **** END: elementi **** -->
</xsd:schema>
