govpay-core-beans/src/main/resources/xsd/CatalogoDatiInformativi_1_0_10_TabellaDelleControparti_1_0_8_InformativaContoAccredito_1_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.7" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:extensionBindingPrefixes="xjc">

	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="it.gov.digitpa.schemas._2011.psp" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="listaInformativePSP" type="ctListaInformativePSP" />
	<xs:element name="informativaPSP" type="ctInformativaPSP" />

	<xs:simpleType name="stText35">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="35" />
		</xs:restriction>

	</xs:simpleType>
	<xs:simpleType name="stText70">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stZeroUno">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stZero">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stUno">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stText140">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="140" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stImporto">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00" />
			<xs:maxInclusive value="999999999.99" />
			<xs:fractionDigits value="2" />
			<xs:totalDigits value="12" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stCodiceServizioNonDiPagamento">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stTipoVersamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BBT" /> <!-- Bonifico Bancario di Tesoreria -->
			<xs:enumeration value="BP" /> <!-- Bollettino Postale -->
			<xs:enumeration value="AD" /> <!-- Addebito Diretto -->
			<xs:enumeration value="CP" /> <!-- Carta di Pagamento -->
			<xs:enumeration value="PO" /> <!-- Pagamento attivato presso PSP -->
			<xs:enumeration value="OBEP" /> <!-- Online Banking Electronic Payment -->
			<xs:enumeration value="OTH" /> <!-- Other -->
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stCodiceLingua">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IT" /> <!-- Italiano -->
			<xs:enumeration value="EN" /> <!-- Inglese -->
			<xs:enumeration value="DE" /> <!-- Tedesco -->
			<xs:enumeration value="FR" /> <!-- Francese -->
			<xs:enumeration value="SL" /> <!-- Sloveno -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stParoleChiave">
		<xs:restriction base="xs:string">
			<xs:enumeration value="American Express" />
			<xs:enumeration value="App" />
			<xs:enumeration value="Diners" />
			<xs:enumeration value="Maestro" />
			<xs:enumeration value="Mastercard" />
			<xs:enumeration value="MyBank" />
			<xs:enumeration value="PagoBancomat" />
			<xs:enumeration value="PayPal" />
			<xs:enumeration value="Visa" />
			<xs:enumeration value="Visa Electron" />
			<xs:enumeration value="V-Pay" />
			<xs:enumeration value="Wallet" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stUrlInformazioni">
		<xs:restriction base="xs:anyURI">
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stModelloPagamento">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" /> <!-- Modello di pagamento immediato (con redirezione) -->
			<xs:enumeration value="1" /> <!-- Modello di pagamento immediato multibeneficiario -->
			<xs:enumeration value="2" /> <!-- Modello di pagamento differito -->
			<xs:enumeration value="4" /> <!-- Modello di pagamento attivato presso il psp -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stTipoCanaleServizio">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" /> <!-- Presso i propri sportelli -->
			<xs:enumeration value="1" /> <!-- On-line (home banking o portale dedicato) -->
			<xs:enumeration value="2" /> <!-- Mobile banking (app) -->
			<xs:enumeration value="3" /> <!-- Phone banking -->
			<xs:enumeration value="4" /> <!-- ATM -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stPlateaErogazioneServizio">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" /> <!-- Verso la propria clientela -->
			<xs:enumeration value="1" /> <!-- Verso tutti -->
			<xs:enumeration value="2" /> <!-- Verso tutti, solo con bollettino postale -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stDateTimeGiornoOra">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ctIdentificazioneServizio">
		<xs:sequence>
			<xs:element type="stText35" name="nomeServizio" />
			<xs:element type="xs:base64Binary" name="logoServizio" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaInformativePSP">
		<xs:sequence>
			<xs:element type="ctInformativaPSP" name="informativaPSP" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaPSP">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoFlusso" />
			<xs:element type="stText35" name="identificativoPSP" />
			<xs:element type="stText70" name="ragioneSociale" />
			<xs:element type="ctInformativaMaster" name="informativaMaster" />
			<xs:element type="ctListaInformativaDetail" name="listaInformativaDetail" />
			<xs:element type="ctListaServiziNonDiPagamento" name="listaServiziNonDiPagamento" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaInformativaDetail">
		<xs:sequence>
			<xs:element type="ctInformativaDetail" name="informativaDetail" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaServiziNonDiPagamento">
		<xs:sequence>
			<xs:element type="ctServizioNonDiPagamento" name="servizioNonDiPagamento" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaInformazioniServizio">
		<xs:sequence>
			<xs:element type="ctInformazioniServizio" name="informazioniServizio" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaParoleChiave">
		<xs:sequence>
			<xs:element type="stParoleChiave" name="paroleChiave" maxOccurs="5" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaFasceCostoServizio">
		<xs:sequence>
			<xs:element type="ctFasciaCostoServizio" name="fasciaCostoServizio" maxOccurs="8" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaMaster">
		<xs:sequence>
			<xs:element type="stDateTimeGiornoOra" name="dataPubblicazione" />
			<xs:element type="stDateTimeGiornoOra" name="dataInizioValidita" />
			<xs:element type="stUrlInformazioni" name="urlInformazioniPSP" />
			<xs:element type="stZeroUno" name="stornoPagamento" />
			<xs:element type="stZeroUno" name="marcaBolloDigitale" />
			<xs:element type="xs:base64Binary" name="logoPSP" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaDetail">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoIntermediario" />
			<xs:element type="stText35" name="identificativoCanale" />
			<xs:element type="stTipoVersamento" name="tipoVersamento" />
			<xs:element type="stModelloPagamento" name="modelloPagamento" />
			<xs:element type="xs:int" name="priorita" />
			<xs:element type="stZeroUno" name="canaleApp" />
			<xs:element type="stZeroUno" name="generazioneEsitoTransazione" minOccurs="0" />
			<xs:element type="stZeroUno" name="servizioAlleImprese" minOccurs="0" />
			<xs:element type="stZeroUno" name="pagamentiPreEsercizio" minOccurs="0" />
			<xs:element type="ctIdentificazioneServizio" name="identificazioneServizio" minOccurs="0" />
			<xs:element type="ctListaInformazioniServizio" name="listaInformazioniServizio" />
			<xs:element type="ctListaParoleChiave" name="listaParoleChiave" minOccurs="0" />
			<xs:element type="ctCostiServizio" name="costiServizio" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctCostiServizio">
		<xs:sequence>
			<xs:element type="stUno" name="tipoCostoTransazione" />
			<xs:element type="stZero" name="tipoCommissione" />
			<xs:element type="stTipoCanaleServizio" name="tipoCanaleServizio" minOccurs="0" />
			<xs:element type="stPlateaErogazioneServizio" name="plateaErogazioneServizio" minOccurs="0" />
			<xs:element type="ctListaFasceCostoServizio" name="listaFasceCostoServizio" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctServizioNonDiPagamento">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoIntermediario" />
			<xs:element type="stText35" name="identificativoCanale" />
			<xs:element type="stCodiceServizioNonDiPagamento" name="codiceServizioNonDiPagamento" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformazioniServizio">
		<xs:sequence>
			<xs:element type="stCodiceLingua" name="codiceLingua" />
			<xs:element type="stText140" name="descrizioneServizio" minOccurs="0" />
			<xs:element type="stText140" name="disponibilitaServizio" />
			<xs:element type="stText140" name="limitazioniServizio" minOccurs="0" />
			<xs:element type="stUrlInformazioni" name="urlInformazioniCanale" minOccurs="0" />
			<xs:element type="stText35" name="condizioniEconomicheMassime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctFasciaCostoServizio">
		<xs:sequence>
			<xs:element type="stImporto" name="importoMassimoFascia" />
			<xs:element type="stImporto" name="costoFisso" />
			<xs:element type="stImporto" name="valoreCommissione" />
		</xs:sequence>
	</xs:complexType>


	<xs:annotation>
		<xs:documentation>Tabella delle controparti</xs:documentation>
	</xs:annotation>

	<xs:element name="listaInformativeControparte" type="ctListaInformativeControparte" />
	<xs:element name="informativaControparte" type="ctInformativaControparte" />

	<xs:simpleType name="stPagamentiPressoPSP">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" /> <!-- la PA NON consente i pagamenti c/o PSP -->
			<xs:enumeration value="1" /> <!-- la PA PSP CONSENTE i pagamenti c/o PSP -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="stTipoPeriodo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="giornaliera"></xs:enumeration>
			<xs:enumeration value="settimanale"></xs:enumeration>
			<xs:enumeration value="mensile"></xs:enumeration>
			<xs:enumeration value="annuale"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ctListaInformativeControparte">
		<xs:sequence>
			<xs:element name="informativaControparte" type="ctInformativaControparte" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaControparte">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoFlusso" />
			<xs:element type="stText35" name="identificativoDominio" />
			<xs:element type="stText70" name="ragioneSociale" />
			<xs:element type="stDateTimeGiornoOra" name="dataPubblicazione" />
			<xs:element type="stDateTimeGiornoOra" name="dataInizioValidita" />
			<xs:element type="stPagamentiPressoPSP" name="pagamentiPressoPSP" />
			<xs:element type="ctErogazioneServizio" name="erogazioneServizio" />
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="ctFasciaOraria">
		<xs:sequence>
			<xs:element type="xs:time" name="fasciaOrariaDa" minOccurs="0" />
			<xs:element type="xs:time" name="fasciaOrariaA" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctErogazione">
		<xs:sequence>
			<xs:element name="tipoPeriodo" type="stTipoPeriodo" minOccurs="0" />
			<xs:element name="giorno" type="stText35" minOccurs="0" />
			<xs:element name="fasciaOraria" type="ctFasciaOraria" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctErogazioneServizio">
		<xs:sequence>
			<xs:element type="ctErogazione" name="disponibilita" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type="ctErogazione" name="indisponibilita" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:annotation>
		<xs:documentation>Informativa Conto Accredito</xs:documentation>
		<xs:documentation>24/10/2015 - allineamento a versione 1.7 dell'Allegato B</xs:documentation>
	</xs:annotation>

	<xs:element name="informativaContoAccredito" type="ctInformativaContoAccredito" />

	<xs:simpleType name="stSellerBankIdentifier">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stIBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stCF">
		<xs:restriction base="xs:string">
			<xs:length value="11" />
			<xs:pattern value="[0-9]{11}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ctInformativaContoAccredito">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoFlusso" />
			<xs:element type="stCF" name="identificativoDominio" />
			<xs:element type="stText70" name="ragioneSociale" />
			<xs:element type="stDateTimeGiornoOra" name="dataPubblicazione" />
			<xs:element type="stDateTimeGiornoOra" name="dataInizioValidita" />
			<xs:element type="ctContiDiAccredito" name="contiDiAccredito" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInfoContoDiAccreditoPair">
		<xs:sequence>
			<xs:element type="stIBANIdentifier" name="ibanAccredito" minOccurs="1" />
			<xs:element type="stSellerBankIdentifier" name="idBancaSeller" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctContiDiAccredito">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element type="stIBANIdentifier" name="ibanAccredito" minOccurs="0" />
			<xs:element type="ctInfoContoDiAccreditoPair" name="infoContoDiAccreditoPair" minOccurs="0" />
		</xs:choice>
	</xs:complexType>

</xs:schema>
