govpay-core-beans/src/main/resources/xsd/CatalogoDatiInformativi_1_0_9_TabellaDelleControparti_1_0_8_InformativaContoAccredito_1_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0.7" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	jaxb:version="2.0" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:extensionBindingPrefixes="xjc">

	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="it.gov.digitpa.schemas._2011.psp" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

    <xs:annotation>
		<xs:documentation>Catalogo dati informativi</xs:documentation>
		<xs:documentation>24/10/2015 - allineamento a versione 1.7 dell'Allegato B</xs:documentation>
    </xs:annotation>
    
    <xs:element name="listaInformativePSP" type="ctListaInformativePSP"/>
	<xs:element name="informativaPSP" type="ctInformativaPSP"/>
		
    <xs:simpleType name="stText35">
		<xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
        
	</xs:simpleType>
	 <xs:simpleType name="stText70">
		<xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stZeroUno">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	 <xs:simpleType name="stText511">
		<xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="511"/>
        </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stTipoVersamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BBT"/> <!-- Bonifico Bancario di Tesoreria -->
			<xs:enumeration value="BP"/> <!-- Bollettino Postale -->
			<xs:enumeration value="AD"/> <!-- Addebito Diretto -->
			<xs:enumeration value="CP"/> <!-- Carta di Pagamento -->
			<xs:enumeration value="PO"/> <!-- Pagamento attivato presso PSP  -->
			<xs:enumeration value="OBEP"/> <!-- Online Banking Electronic Payment -->
            <xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stUrlInformazioni">
		<xs:restriction base="xs:anyURI">
            <xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stModelloPagamento">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/> <!-- Modello di pagamento immediato (con redirezione) -->
			<xs:enumeration value="1"/> <!-- Modello di pagamento immediato multibeneficiario -->
			<xs:enumeration value="2"/> <!-- Modello di pagamento differito -->
			<xs:enumeration value="4"/> <!--- Modello di pagamento attivato presso il psp -->
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:complexType name="ctListaInformativePSP">
		<xs:sequence>
			<xs:element type="ctInformativaPSP" name="informativaPSP" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctInformativaPSP">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoFlusso"/>
			<xs:element type="stText35" name="identificativoPSP"/>
			<xs:element type="stText70" name="ragioneSociale"/>
			<xs:element type="ctInformativaMaster" name="informativaMaster"/>
			<xs:element type="ctListaInformativaDetail" name="listaInformativaDetail"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctInformativaMaster">
		<xs:sequence>
			<xs:element type="xs:dateTime" name="dataPubblicazione"/>
			<xs:element type="xs:dateTime" name="dataInizioValidita"/>
			<xs:element type="stUrlInformazioni" name="urlInformazioniPSP" minOccurs="0"/>
			<xs:element type="stZeroUno" name="stornoPagamento"/>
			<xs:element type="stZeroUno" name="marcaBolloDigitale"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctInformativaDetail">
		<xs:sequence>
			<xs:element type="stText35" name="identificativoIntermediario"/>
			<xs:element type="stText35" name="identificativoCanale"/>
			<xs:element type="stTipoVersamento" name="tipoVersamento"/>
			<xs:element type="stModelloPagamento" name="modelloPagamento"/>
			<xs:element type="xs:int" name="priorita"/>
			<xs:element type="stText511" name="disponibilitaServizio"/>
			<xs:element type="stText511" name="descrizioneServizio"/>
			<xs:element type="stText35" name="condizioniEconomicheMassime"/>
			<xs:element type="stUrlInformazioni" name="urlInformazioniCanale" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctListaInformativaDetail">
		<xs:sequence>
			<xs:element type="ctInformativaDetail" name="informativaDetail" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


	<xs:annotation>
        <xs:documentation>Tabella delle controparti</xs:documentation>
    </xs:annotation>
    
    <xs:element name="listaInformativeControparte" type="ctListaInformativeControparte" />
    <xs:element name="informativaControparte" type="ctInformativaControparte" />
    
    <xs:simpleType name="stDateTimeGiornoOra">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="stPagamentiPressoPSP">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/> <!-- la PA NON consente i pagamenti c/o PSP -->
            <xs:enumeration value="1"/> <!-- la PA PSP CONSENTE i pagamenti c/o PSP  -->
        </xs:restriction>
    </xs:simpleType>

   
    <xs:simpleType name="stTipoPeriodo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="giornaliera"></xs:enumeration>
            <xs:enumeration value="settimanale"></xs:enumeration>
            <xs:enumeration value="mensile"></xs:enumeration>
            <xs:enumeration value="annuale"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ctListaInformativeControparte">
        <xs:sequence>
            <xs:element name="informativaControparte" type="ctInformativaControparte" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ctInformativaControparte">
        <xs:sequence>
            <xs:element type="stText35" name="identificativoFlusso" />
            <xs:element type="stText35" name="identificativoDominio" />
            <xs:element type="stText70" name="ragioneSociale" />
            <xs:element type="stDateTimeGiornoOra" name="dataPubblicazione" />
            <xs:element type="stDateTimeGiornoOra" name="dataInizioValidita" />
            <xs:element type="stPagamentiPressoPSP" name="pagamentiPressoPSP" />
            <xs:element type="ctErogazioneServizio" name="erogazioneServizio" />
        </xs:sequence>

    </xs:complexType>
    
    <xs:complexType name="ctFasciaOraria">
            <xs:sequence>
                <xs:element type="xs:time" name="fasciaOrariaDa" minOccurs="0" />
                <xs:element type="xs:time" name="fasciaOrariaA" minOccurs="0" />
            </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ctErogazione">
        <xs:sequence>
            <xs:element name="tipoPeriodo" type="stTipoPeriodo" minOccurs="0" />
            <xs:element name="giorno" type="stText35" minOccurs="0" />
            <xs:element name="fasciaOraria" type="ctFasciaOraria" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ctErogazioneServizio">
        <xs:sequence>
            <xs:element type="ctErogazione" name="disponibilita" minOccurs="0" maxOccurs="unbounded" />
            <xs:element type="ctErogazione" name="indisponibilita" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
	<xs:annotation>
        <xs:documentation>Informativa Conto Accredito</xs:documentation>
        <xs:documentation>24/10/2015 - allineamento a versione 1.7 dell'Allegato B</xs:documentation>
    </xs:annotation>

    <xs:element name="informativaContoAccredito" type="ctInformativaContoAccredito"/>

    <xs:simpleType name="stSellerBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stIBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stCF">
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="[0-9]{11}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ctInformativaContoAccredito">
        <xs:sequence>
            <xs:element type="stText35" name="identificativoFlusso"/>
            <xs:element type="stCF" name="identificativoDominio"/>
            <xs:element type="stText70" name="ragioneSociale"/>
            <xs:element type="stDateTimeGiornoOra" name="dataPubblicazione"/>
            <xs:element type="stDateTimeGiornoOra" name="dataInizioValidita"/>
            <xs:element type="ctContiDiAccredito" name="contiDiAccredito"/>
        </xs:sequence>
    </xs:complexType>

   <xs:complexType name="ctInfoContoDiAccreditoPair">
        <xs:sequence>
            <xs:element type="stIBANIdentifier" name="ibanAccredito" minOccurs="1"/>
            <xs:element type="stSellerBankIdentifier" name="idBancaSeller" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ctContiDiAccredito">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element type="stIBANIdentifier" name="ibanAccredito" minOccurs="0"/>
            <xs:element type="ctInfoContoDiAccreditoPair" name="infoContoDiAccreditoPair" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>
